*.iml
.project
.DS_Store
/bin/
/pkg/
/.settings/
/output/
/.classpath
/.metadata/
/.idea/
/RemoteSystemsTempFiles/
/logs/
/vendor/bin/
/vendor/pkg/
/vendor/src/golang.org/x/tools/
/Tools/bin/
/Tools/pkg/
build/
eclipse-bin/
agent/framework/engine/logs/
agent/message/logs/
agent/plugins/runcommand/OrchesDir/
agent/plugins/runcommand/logs/
agent/s3util/logs/
agent/sdkutil/logs/
agent/taskimpl/logs/
agent/platform/logs/
Tools/src/github.com/
Tools/src/golang.org/
agent/managedInstances/sharedCredentials/example.ini
build
