{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2015-08-17",
    "endpointPrefix":"ec2messages",
    "jsonVersion":"1.1",
    "serviceAbbreviation":"Amazon SSM MDS",
    "serviceFullName":"Amazon Simple Systems Management Message Delivery Service",
    "signatureVersion":"v4",
    "targetPrefix":"EC2WindowsMessageDeliveryService",
    "protocol":"json"
  },
  "operations":{
    "AcknowledgeMessage":{
      "name":"AcknowledgeMessage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AcknowledgeMessageRequest"},
      "errors":[
        {
          "shape":"InvalidMessageIdException",
          "error":{
            "code":"InvalidMessageId",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"UnsupportedMessageOperationException",
          "error":{
            "code":"UnsupportedMessageOperation",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"AuthorizationFailureException",
          "error":{
            "code":"AuthorizationFailure",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InternalServerException",
          "error":{
            "code":"InternalServerException",
            "httpStatusCode":500
          },
          "exception":true
        }
      ]
    },
    "DeleteMessage":{
      "name":"DeleteMessage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteMessageRequest"},
      "errors":[
        {
          "shape":"InvalidMessageIdException",
          "error":{
            "code":"InvalidMessageId",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"UnsupportedMessageOperationException",
          "error":{
            "code":"UnsupportedMessageOperation",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"AuthorizationFailureException",
          "error":{
            "code":"AuthorizationFailure",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InternalServerException",
          "error":{
            "code":"InternalServerException",
            "httpStatusCode":500
          },
          "exception":true
        }
      ]
    },
    "FailMessage":{
      "name":"FailMessage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"FailMessageRequest"},
      "errors":[
        {
          "shape":"InvalidMessageIdException",
          "error":{
            "code":"InvalidMessageId",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"UnsupportedMessageOperationException",
          "error":{
            "code":"UnsupportedMessageOperation",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"AuthorizationFailureException",
          "error":{
            "code":"AuthorizationFailure",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InternalServerException",
          "error":{
            "code":"InternalServerException",
            "httpStatusCode":500
          },
          "exception":true
        }
      ]
    },
    "GetEndpoint":{
      "name":"GetEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetEndpointRequest"},
      "output":{"shape":"GetEndpointResponse"},
      "errors":[
        {
          "shape":"TooManyRequestsException",
          "error":{
            "code":"TooManyRequests",
            "httpStatusCode":429,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"AuthorizationFailureException",
          "error":{
            "code":"AuthorizationFailure",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InternalServerException",
          "error":{
            "code":"InternalServerException",
            "httpStatusCode":500
          },
          "exception":true
        }
      ]
    },
    "GetMessages":{
      "name":"GetMessages",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetMessagesRequest"},
      "output":{"shape":"GetMessagesResponse"},
      "errors":[
        {
          "shape":"InvalidDestinationException",
          "error":{
            "code":"InvalidDestination",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"RequestTimeoutException",
          "error":{
            "code":"RequestTimeout",
            "httpStatusCode":408
          },
          "exception":true
        },
        {
          "shape":"InternalServerException",
          "error":{
            "code":"InternalServerException",
            "httpStatusCode":500
          },
          "exception":true
        },
        {
          "shape":"TooManyRequestsException",
          "error":{
            "code":"TooManyRequests",
            "httpStatusCode":429,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"AuthorizationFailureException",
          "error":{
            "code":"AuthorizationFailure",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true
        }
      ]
    },
    "SendReply":{
      "name":"SendReply",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SendReplyRequest"},
      "output":{"shape":"SendReplyResponse"},
      "errors":[
        {
          "shape":"UnsupportedMessageOperationException",
          "error":{
            "code":"UnsupportedMessageOperation",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InvalidMessageIdException",
          "error":{
            "code":"InvalidMessageId",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"TooManyRequestsException",
          "error":{
            "code":"TooManyRequests",
            "httpStatusCode":429,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"AuthorizationFailureException",
          "error":{
            "code":"AuthorizationFailure",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true
        },
        {
          "shape":"InternalServerException",
          "error":{
            "code":"InternalServerException",
            "httpStatusCode":500
          },
          "exception":true
        }
      ]
    }
  },
  "shapes":{
    "AcknowledgeMessageRequest":{
      "type":"structure",
      "required":["MessageId"],
      "members":{
        "MessageId":{"shape":"MessageId"}
      }
    },
    "AuthorizationFailureException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"AuthorizationFailure",
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "CreatedDate":{
      "type":"string",
      "min":24,
      "max":24,
      "pattern":""
    },
    "DeleteMessageRequest":{
      "type":"structure",
      "required":["MessageId"],
      "members":{
        "MessageId":{"shape":"MessageId"}
      }
    },
    "DeliveryOptions":{
      "type":"structure",
      "members":{
        "ExpiresAfter":{"shape":"ExpiresAfter"},
        "ReplacementKey":{"shape":"ReplacementKey"},
        "SchedulePush":{"shape":"SchedulePush"}
      }
    },
    "Description":{
      "type":"string",
      "max":8192
    },
    "Destination":{
      "type":"string",
      "min":10,
      "max":80
    },
    "Endpoint":{
      "type":"string",
      "max":512
    },
    "ExpiresAfter":{
      "type":"string",
      "pattern":"^([\\+-]?\\d{4}(?!\\d{2}\\b))((-?)((0[1-9]|1[0-2])(\\3([12]\\d|0[1-9]|3[01]))?|W([0-4]\\d|5[0-2])(-?[1-7])?|(00[1-9]|0[1-9]\\d|[12]\\d{2}|3([0-5]\\d|6[1-6])))([T\\s]((([01]\\d|2[0-3])((:?)[0-5]\\d)?|24\\:?00)([\\.,]\\d+(?!:))?)?(\\17[0-5]\\d([\\.,]\\d+)?)?([zZ]|([\\+-])([01]\\d|2[0-3]):?([0-5]\\d)?)?)?)?$"
    },
    "FailMessageRequest":{
      "type":"structure",
      "required":[
        "MessageId",
        "FailureType"
      ],
      "members":{
        "MessageId":{"shape":"MessageId"},
        "FailureType":{"shape":"FailureType"}
      }
    },
    "FailureType":{
      "type":"string",
      "enum":[
        "NoHandlerExists",
        "InternalHandlerException"
      ]
    },
    "GetEndpointRequest":{
      "type":"structure",
      "required":["Destination"],
      "members":{
        "Destination":{"shape":"Destination"}
      }
    },
    "GetEndpointResponse":{
      "type":"structure",
      "members":{
        "Endpoint":{"shape":"Endpoint"}
      }
    },
    "GetMessagesRequest":{
      "type":"structure",
      "required":[
        "Destination",
        "MessagesRequestId"
      ],
      "members":{
        "Destination":{"shape":"Destination"},
        "MessagesRequestId":{"shape":"MessagesRequestId"},
        "VisibilityTimeoutInSeconds":{"shape":"VisibilityTimeoutInSeconds"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "GetMessagesResponse":{
      "type":"structure",
      "members":{
        "Destination":{"shape":"Destination"},
        "MessagesRequestId":{"shape":"MessagesRequestId"},
        "Messages":{"shape":"Messages"}
      }
    },
    "InternalServerException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InternalServerException",
        "httpStatusCode":500
      },
      "exception":true
    },
    "InvalidDestinationException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InvalidDestination",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "InvalidMessageIdException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InvalidMessageId",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "Message":{
      "type":"structure",
      "members":{
        "Destination":{"shape":"Destination"},
        "MessageId":{"shape":"MessageId"},
        "Topic":{"shape":"Topic"},
        "CreatedDate":{"shape":"CreatedDate"},
        "PayloadDigest":{"shape":"PayloadDigest"},
        "Payload":{"shape":"Payload"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "MessageId":{
      "type":"string",
      "min":16,
      "max":80
    },
    "Messages":{
      "type":"list",
      "member":{"shape":"Message"}
    },
    "MessagesRequestId":{
      "type":"string",
      "min":16,
      "max":64
    },
    "NextToken":{
      "type":"string",
      "min":0,
      "max":80
    },
    "Payload":{
      "type":"string",
      "min":0,
      "max":32768
    },
    "PayloadDigest":{
      "type":"string",
      "max":512
    },
    "ReplacementKey":{
      "type":"string",
      "max":80
    },
    "ReplyId":{
      "type":"string",
      "min":16,
      "max":80
    },
    "ReplyStatus":{
      "type":"string",
      "enum":[
        "Created",
        "Queued",
        "Acknowledged",
        "NoActionTaken"
      ]
    },
    "RequestTimeoutException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"RequestTimeout",
        "httpStatusCode":408
      },
      "exception":true
    },
    "SchedulePush":{
      "type":"string",
      "enum":[
        "EVENTUALLY",
        "ASAP"
      ]
    },
    "SendReplyRequest":{
      "type":"structure",
      "required":[
        "MessageId",
        "ReplyId",
        "Payload"
      ],
      "members":{
        "MessageId":{"shape":"MessageId"},
        "ReplyId":{"shape":"ReplyId"},
        "Payload":{"shape":"Payload"},
        "DeliveryOptions":{"shape":"DeliveryOptions"}
      }
    },
    "SendReplyResponse":{
      "type":"structure",
      "members":{
        "MessageId":{"shape":"MessageId"},
        "ReplyId":{"shape":"ReplyId"},
        "ReplyStatus":{"shape":"ReplyStatus"},
        "Description":{"shape":"Description"}
      }
    },
    "TooManyRequestsException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"TooManyRequests",
        "httpStatusCode":429,
        "senderFault":true
      },
      "exception":true
    },
    "Topic":{
      "type":"string",
      "min":1,
      "max":256
    },
    "UnsupportedMessageOperationException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"UnsupportedMessageOperation",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "VisibilityTimeoutInSeconds":{
      "type":"integer",
      "min":0,
      "max":43200
    }
  }
}
