<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <threshold value="INFO" />
    <file type="log4net.Util.PatternString" value="C:\ProgramData\Amazon\SSM\Logs\amazon-ssm-cloudwatch.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%utcdate{ISO8601} [%thread] %-5level [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
  <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender" >
    <logName value="AmazonSSMAgent"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%utcdate{ISO8601} [%thread] %-5level [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%utcdate{ISO8601} [%thread] %-5level [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
  <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
    <threshold value="DEBUG" />
    <mapping>
      <level value="WARN" />
      <foreColor value="Yellow, HighIntensity " />
    </mapping>
    <mapping>
      <level value="FATAL" />
      <foreColor value="White, HighIntensity " />
      <backColor value="Red, HighIntensity " />
    </mapping>
    <mapping>
      <level value="INFO" />
      <foreColor value="Cyan, HighIntensity " />
    </mapping>
    <mapping>
      <level value="ERROR" />
      <foreColor value="White" />
      <backColor value="Red" />
    </mapping>
    <mapping>
      <level value="DEBUG" />
      <foreColor value="Green" />
    </mapping>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{ISO8601} [%thread] %-5level [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
  <root>
    <level value="INFO" />
    <appender-ref ref="RollingFileAppender" />
    <!--<appender-ref ref="ColoredConsoleAppender" />-->
    <!--<appender-ref ref="ConsoleAppender" />-->
    <!--<appender-ref ref="EventLogAppender" />-->
  </root>
</log4net>
