{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2015-06-19",
    "endpointPrefix":"ec2messages",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceAbbreviation":"Amazon SSM MDS",
    "serviceFullName":"Amazon Simple Systems Management Message Delivery Service",
    "signatureVersion":"v4",
    "targetPrefix":"EC2WindowsMessageDeliveryService",
    "uid":"mds-2015-06-19"
  },
  "operations":{
    "AcknowledgeMessage":{
      "name":"AcknowledgeMessage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AcknowledgeMessageRequest"},
      "errors":[
        {"shape":"InvalidMessageIdException"},
        {"shape":"UnsupportedMessageOperationException"},
        {"shape":"AuthorizationFailureException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DeleteMessage":{
      "name":"DeleteMessage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteMessageRequest"},
      "errors":[
        {"shape":"InvalidMessageIdException"},
        {"shape":"UnsupportedMessageOperationException"},
        {"shape":"AuthorizationFailureException"},
        {"shape":"InternalServerException"}
      ]
    },
    "FailMessage":{
      "name":"FailMessage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"FailMessageRequest"},
      "errors":[
        {"shape":"InvalidMessageIdException"},
        {"shape":"UnsupportedMessageOperationException"},
        {"shape":"AuthorizationFailureException"},
        {"shape":"InternalServerException"}
      ]
    },
    "GetEndpoint":{
      "name":"GetEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetEndpointRequest"},
      "output":{"shape":"GetEndpointResponse"},
      "errors":[
        {"shape":"TooManyRequestsException"},
        {"shape":"AuthorizationFailureException"},
        {"shape":"InternalServerException"}
      ]
    },
    "GetMessages":{
      "name":"GetMessages",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetMessagesRequest"},
      "output":{"shape":"GetMessagesResponse"},
      "errors":[
        {"shape":"InvalidDestinationException"},
        {"shape":"RequestTimeoutException"},
        {"shape":"InternalServerException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"AuthorizationFailureException"}
      ]
    },
    "SendReply":{
      "name":"SendReply",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SendReplyRequest"},
      "output":{"shape":"SendReplyResponse"},
      "errors":[
        {"shape":"UnsupportedMessageOperationException"},
        {"shape":"InvalidMessageIdException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"AuthorizationFailureException"},
        {"shape":"InternalServerException"}
      ]
    }
  },
  "shapes":{
    "AcknowledgeMessageRequest":{
      "type":"structure",
      "required":["MessageId"],
      "members":{
        "MessageId":{"shape":"MessageId"}
      }
    },
    "AuthorizationFailureException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "CreatedDate":{
      "type":"string",
      "max":24,
      "min":24,
      "pattern":""
    },
    "DeleteMessageRequest":{
      "type":"structure",
      "required":["MessageId"],
      "members":{
        "MessageId":{"shape":"MessageId"}
      }
    },
    "DeliveryOptions":{
      "type":"structure",
      "members":{
        "ExpiresAfter":{"shape":"ExpiresAfter"},
        "ReplacementKey":{"shape":"ReplacementKey"},
        "SchedulePush":{"shape":"SchedulePush"}
      }
    },
    "Description":{
      "type":"string",
      "max":8192
    },
    "Destination":{
      "type":"string",
      "max":80,
      "min":10
    },
    "Endpoint":{
      "type":"string",
      "max":512
    },
    "ExpiresAfter":{
      "type":"string",
      "pattern":"^([\\+-]?\\d{4}(?!\\d{2}\\b))((-?)((0[1-9]|1[0-2])(\\3([12]\\d|0[1-9]|3[01]))?|W([0-4]\\d|5[0-2])(-?[1-7])?|(00[1-9]|0[1-9]\\d|[12]\\d{2}|3([0-5]\\d|6[1-6])))([T\\s]((([01]\\d|2[0-3])((:?)[0-5]\\d)?|24\\:?00)([\\.,]\\d+(?!:))?)?(\\17[0-5]\\d([\\.,]\\d+)?)?([zZ]|([\\+-])([01]\\d|2[0-3]):?([0-5]\\d)?)?)?)?$"
    },
    "FailMessageRequest":{
      "type":"structure",
      "required":[
        "MessageId",
        "FailureType"
      ],
      "members":{
        "MessageId":{"shape":"MessageId"},
        "FailureType":{"shape":"FailureType"}
      }
    },
    "FailureType":{
      "type":"string",
      "enum":[
        "NoHandlerExists",
        "InternalHandlerException"
      ]
    },
    "GetEndpointRequest":{
      "type":"structure",
      "required":["Destination"],
      "members":{
        "Destination":{"shape":"Destination"}
      }
    },
    "GetEndpointResponse":{
      "type":"structure",
      "members":{
        "Endpoint":{"shape":"Endpoint"}
      }
    },
    "GetMessagesRequest":{
      "type":"structure",
      "required":[
        "Destination",
        "MessagesRequestId"
      ],
      "members":{
        "Destination":{"shape":"Destination"},
        "MessagesRequestId":{"shape":"MessagesRequestId"},
        "VisibilityTimeoutInSeconds":{"shape":"VisibilityTimeoutInSeconds"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "GetMessagesResponse":{
      "type":"structure",
      "members":{
        "Destination":{"shape":"Destination"},
        "MessagesRequestId":{"shape":"MessagesRequestId"},
        "Messages":{"shape":"Messages"}
      }
    },
    "InternalServerException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "InvalidDestinationException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "InvalidMessageIdException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "Message":{
      "type":"structure",
      "members":{
        "Destination":{"shape":"Destination"},
        "MessageId":{"shape":"MessageId"},
        "Topic":{"shape":"Topic"},
        "CreatedDate":{"shape":"CreatedDate"},
        "PayloadDigest":{"shape":"PayloadDigest"},
        "Payload":{"shape":"Payload"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "MessageId":{
      "type":"string",
      "max":80,
      "min":16
    },
    "Messages":{
      "type":"list",
      "member":{"shape":"Message"}
    },
    "MessagesRequestId":{
      "type":"string",
      "max":64,
      "min":16
    },
    "NextToken":{
      "type":"string",
      "max":80,
      "min":0
    },
    "Payload":{
      "type":"string",
      "max":65536,
      "min":0
    },
    "PayloadDigest":{
      "type":"string",
      "max":512
    },
    "ReplacementKey":{
      "type":"string",
      "max":80
    },
    "ReplyId":{
      "type":"string",
      "max":80,
      "min":16
    },
    "ReplyStatus":{
      "type":"string",
      "enum":[
        "Created",
        "Queued",
        "Acknowledged",
        "NoActionTaken"
      ]
    },
    "RequestTimeoutException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "SchedulePush":{
      "type":"string",
      "enum":[
        "EVENTUALLY",
        "ASAP"
      ]
    },
    "SendReplyRequest":{
      "type":"structure",
      "required":[
        "MessageId",
        "ReplyId",
        "Payload"
      ],
      "members":{
        "MessageId":{"shape":"MessageId"},
        "ReplyId":{"shape":"ReplyId"},
        "Payload":{"shape":"Payload"},
        "DeliveryOptions":{"shape":"DeliveryOptions"}
      }
    },
    "SendReplyResponse":{
      "type":"structure",
      "members":{
        "MessageId":{"shape":"MessageId"},
        "ReplyId":{"shape":"ReplyId"},
        "ReplyStatus":{"shape":"ReplyStatus"},
        "Description":{"shape":"Description"}
      }
    },
    "TooManyRequestsException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "Topic":{
      "type":"string",
      "max":256,
      "min":1
    },
    "UnsupportedMessageOperationException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "VisibilityTimeoutInSeconds":{
      "type":"integer",
      "max":43200,
      "min":0
    }
  }
}
