{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2014-11-06",
    "endpointPrefix":"ssm",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceAbbreviation":"Amazon SSM",
    "serviceFullName":"Amazon Simple Systems Management Service",
    "signatureVersion":"v4",
    "targetPrefix":"AmazonSSM"
  },
  "operations":{
    "AddTagsToResource":{
      "name":"AddTagsToResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddTagsToResourceRequest"},
      "output":{"shape":"AddTagsToResourceResult"},
      "errors":[
        {"shape":"InvalidResourceType"},
        {"shape":"InvalidResourceId"},
        {"shape":"InternalServerError"},
        {"shape":"TooManyTagsError"}
      ]
    },
    "ApplyAssociations":{
      "name":"ApplyAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ApplyAssociationsRequest"},
      "output":{"shape":"ApplyAssociationsResult"},
      "errors":[
        {"shape":"InvalidAssociation"}
      ]
    },
    "CancelCommand":{
      "name":"CancelCommand",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelCommandRequest"},
      "output":{"shape":"CancelCommandResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidCommandId"},
        {"shape":"InvalidInstanceId"},
        {"shape":"DuplicateInstanceId"}
      ]
    },
    "CreateActivation":{
      "name":"CreateActivation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateActivationRequest"},
      "output":{"shape":"CreateActivationResult"},
      "errors":[
        {"shape":"InternalServerError"}
      ]
    },
    "CreateAssociation":{
      "name":"CreateAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAssociationRequest"},
      "output":{"shape":"CreateAssociationResult"},
      "errors":[
        {"shape":"AssociationAlreadyExists"},
        {"shape":"AssociationLimitExceeded"},
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidDocumentVersion"},
        {"shape":"InvalidInstanceId"},
        {"shape":"UnsupportedPlatformType"},
        {"shape":"InvalidOutputFolder"},
        {"shape":"InvalidParameters"},
        {"shape":"InvalidTarget"},
        {"shape":"InvalidSchedule"}
      ]
    },
    "CreateAssociationBatch":{
      "name":"CreateAssociationBatch",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAssociationBatchRequest"},
      "output":{"shape":"CreateAssociationBatchResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidDocumentVersion"},
        {"shape":"InvalidInstanceId"},
        {"shape":"InvalidParameters"},
        {"shape":"DuplicateInstanceId"},
        {"shape":"AssociationLimitExceeded"},
        {"shape":"UnsupportedPlatformType"},
        {"shape":"InvalidOutputFolder"},
        {"shape":"InvalidTarget"},
        {"shape":"InvalidSchedule"}
      ]
    },
    "CreateDocument":{
      "name":"CreateDocument",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDocumentRequest"},
      "output":{"shape":"CreateDocumentResult"},
      "errors":[
        {"shape":"DocumentAlreadyExists"},
        {"shape":"MaxDocumentSizeExceeded"},
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocumentContent"},
        {"shape":"DocumentLimitExceeded"}
      ]
    },
    "DeleteActivation":{
      "name":"DeleteActivation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteActivationRequest"},
      "output":{"shape":"DeleteActivationResult"},
      "errors":[
        {"shape":"InvalidActivationId"},
        {"shape":"InvalidActivation"},
        {"shape":"InternalServerError"}
      ]
    },
    "DeleteAssociation":{
      "name":"DeleteAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAssociationRequest"},
      "output":{"shape":"DeleteAssociationResult"},
      "errors":[
        {"shape":"AssociationDoesNotExist"},
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidInstanceId"},
        {"shape":"TooManyUpdates"}
      ]
    },
    "DeleteDocument":{
      "name":"DeleteDocument",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDocumentRequest"},
      "output":{"shape":"DeleteDocumentResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidDocumentOperation"},
        {"shape":"AssociatedInstances"}
      ]
    },
    "DeleteParameter":{
      "name":"DeleteParameter",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteParameterRequest"},
      "output":{"shape":"DeleteParameterResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"ParameterNotFound"}
      ]
    },
    "DeregisterManagedInstance":{
      "name":"DeregisterManagedInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeregisterManagedInstanceRequest"},
      "output":{"shape":"DeregisterManagedInstanceResult"},
      "errors":[
        {"shape":"InvalidInstanceId"},
        {"shape":"InternalServerError"}
      ]
    },
    "DescribeActivations":{
      "name":"DescribeActivations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeActivationsRequest"},
      "output":{"shape":"DescribeActivationsResult"},
      "errors":[
        {"shape":"InvalidFilter"},
        {"shape":"InvalidNextToken"},
        {"shape":"InternalServerError"}
      ]
    },
    "DescribeAssociation":{
      "name":"DescribeAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAssociationRequest"},
      "output":{"shape":"DescribeAssociationResult"},
      "errors":[
        {"shape":"AssociationDoesNotExist"},
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidInstanceId"}
      ]
    },
    "DescribeAutomationActions":{
      "name":"DescribeAutomationActions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAutomationActionsRequest"},
      "output":{"shape":"DescribeAutomationActionsResult"},
      "errors":[
        {"shape":"InternalServerError"}
      ]
    },
    "DescribeAutomationExecutions":{
      "name":"DescribeAutomationExecutions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAutomationExecutionsRequest"},
      "output":{"shape":"DescribeAutomationExecutionsResult"},
      "errors":[
        {"shape":"InvalidNextToken"},
        {"shape":"InternalServerError"}
      ]
    },
    "DescribeDocument":{
      "name":"DescribeDocument",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDocumentRequest"},
      "output":{"shape":"DescribeDocumentResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidDocumentVersion"}
      ]
    },
    "DescribeDocumentInternal":{
      "name":"DescribeDocumentInternal",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDocumentInternalRequest"},
      "output":{"shape":"DescribeDocumentInternalResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidDocumentVersion"}
      ]
    },
    "DescribeDocumentParameters":{
      "name":"DescribeDocumentParameters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDocumentParametersRequest"},
      "output":{"shape":"DescribeDocumentParametersResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidDocumentVersion"}
      ]
    },
    "DescribeDocumentPermission":{
      "name":"DescribeDocumentPermission",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDocumentPermissionRequest"},
      "output":{"shape":"DescribeDocumentPermissionResponse"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidPermissionType"}
      ]
    },
    "DescribeInstanceAssociations":{
      "name":"DescribeInstanceAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInstanceAssociationsRequest"},
      "output":{"shape":"DescribeInstanceAssociationsResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidInstanceId"},
        {"shape":"InvalidFilterKey"},
        {"shape":"InvalidFilterValue"},
        {"shape":"InvalidNextToken"}
      ]
    },
    "DescribeInstanceAssociationsStatus":{
      "name":"DescribeInstanceAssociationsStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInstanceAssociationsStatusRequest"},
      "output":{"shape":"DescribeInstanceAssociationsStatusResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidInstanceId"},
        {"shape":"InvalidNextToken"}
      ]
    },
    "DescribeInstanceInformation":{
      "name":"DescribeInstanceInformation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInstanceInformationRequest"},
      "output":{"shape":"DescribeInstanceInformationResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidInstanceId"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidNextToken"},
        {"shape":"InvalidInstanceInformationFilterValue"},
        {"shape":"InvalidFilterKey"}
      ]
    },
    "DescribeInstanceProperties":{
      "name":"DescribeInstanceProperties",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInstancePropertiesRequest"},
      "output":{"shape":"DescribeInstancePropertiesResult"},
      "errors":[
        {"shape":"InvalidNextToken"},
        {"shape":"InvalidFilterKey"},
        {"shape":"InvalidInstanceId"},
        {"shape":"InvalidInstancePropertyFilterValue"},
        {"shape":"InternalServerError"}
      ]
    },
    "DescribeParameters":{
      "name":"DescribeParameters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeParametersRequest"},
      "output":{"shape":"DescribeParametersResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidFilterValue"},
        {"shape":"InvalidNextToken"}
      ]
    },
    "GetAutomationAction":{
      "name":"GetAutomationAction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAutomationActionRequest"},
      "output":{"shape":"GetAutomationActionResult"},
      "errors":[
        {"shape":"AutomationActionNotFoundException"},
        {"shape":"InternalServerError"}
      ]
    },
    "GetAutomationExecution":{
      "name":"GetAutomationExecution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAutomationExecutionRequest"},
      "output":{"shape":"GetAutomationExecutionResult"},
      "errors":[
        {"shape":"AutomationExecutionNotFoundException"},
        {"shape":"InternalServerError"}
      ]
    },
    "GetCommandInvocation":{
      "name":"GetCommandInvocation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCommandInvocationRequest"},
      "output":{"shape":"GetCommandInvocationResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidCommandId"},
        {"shape":"InvalidInstanceId"},
        {"shape":"InvalidPluginName"}
      ]
    },
    "GetDocument":{
      "name":"GetDocument",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDocumentRequest"},
      "output":{"shape":"GetDocumentResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidDocumentVersion"}
      ]
    },
    "GetDocumentInternal":{
      "name":"GetDocumentInternal",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDocumentInternalRequest"},
      "output":{"shape":"GetDocumentInternalResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidDocumentVersion"}
      ]
    },
    "GetInventory":{
      "name":"GetInventory",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetInventoryRequest"},
      "output":{"shape":"GetInventoryResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidFilter"},
        {"shape":"InvalidNextToken"},
        {"shape":"InvalidTypeNameException"}
      ]
    },
    "GetInventorySchema":{
      "name":"GetInventorySchema",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetInventorySchemaRequest"},
      "output":{"shape":"GetInventorySchemaResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidTypeNameException"}
      ]
    },
    "GetParameterHistory":{
      "name":"GetParameterHistory",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetParameterHistoryRequest"},
      "output":{"shape":"GetParameterHistoryResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"ParameterNotFound"}
      ]
    },
    "GetParameters":{
      "name":"GetParameters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetParametersRequest"},
      "output":{"shape":"GetParametersResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"ParameterNotFound"}
      ]
    },
    "ListAssociations":{
      "name":"ListAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAssociationsRequest"},
      "output":{"shape":"ListAssociationsResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidNextToken"}
      ]
    },
    "ListCommandInvocations":{
      "name":"ListCommandInvocations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCommandInvocationsRequest"},
      "output":{"shape":"ListCommandInvocationsResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidCommandId"},
        {"shape":"InvalidInstanceId"},
        {"shape":"InvalidFilterKey"},
        {"shape":"InvalidNextToken"}
      ]
    },
    "ListCommands":{
      "name":"ListCommands",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCommandsRequest"},
      "output":{"shape":"ListCommandsResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidCommandId"},
        {"shape":"InvalidInstanceId"},
        {"shape":"InvalidFilterKey"},
        {"shape":"InvalidNextToken"}
      ]
    },
    "ListDocumentVersions":{
      "name":"ListDocumentVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDocumentVersionsRequest"},
      "output":{"shape":"ListDocumentVersionsResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidNextToken"},
        {"shape":"InvalidDocument"}
      ]
    },
    "ListDocuments":{
      "name":"ListDocuments",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDocumentsRequest"},
      "output":{"shape":"ListDocumentsResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidNextToken"},
        {"shape":"InvalidFilterKey"}
      ]
    },
    "ListInstanceAssociations":{
      "name":"ListInstanceAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListInstanceAssociationsRequest"},
      "output":{"shape":"ListInstanceAssociationsResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidInstanceId"},
        {"shape":"InvalidNextToken"}
      ]
    },
    "ListInventoryEntries":{
      "name":"ListInventoryEntries",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListInventoryEntriesRequest"},
      "output":{"shape":"ListInventoryEntriesResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidInstanceId"},
        {"shape":"InvalidTypeNameException"},
        {"shape":"InvalidFilter"},
        {"shape":"InvalidNextToken"}
      ]
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResult"},
      "errors":[
        {"shape":"InvalidResourceType"},
        {"shape":"InvalidResourceId"},
        {"shape":"InternalServerError"}
      ]
    },
    "ModifyDocumentPermission":{
      "name":"ModifyDocumentPermission",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyDocumentPermissionRequest"},
      "output":{"shape":"ModifyDocumentPermissionResponse"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidPermissionType"},
        {"shape":"DocumentPermissionLimit"},
        {"shape":"DocumentLimitExceeded"}
      ]
    },
    "PutInventory":{
      "name":"PutInventory",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutInventoryRequest"},
      "output":{"shape":"PutInventoryResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidInstanceId"},
        {"shape":"InvalidTypeNameException"},
        {"shape":"InvalidItemContentException"},
        {"shape":"TotalSizeLimitExceededException"},
        {"shape":"ItemSizeLimitExceededException"},
        {"shape":"ItemContentMismatchException"},
        {"shape":"TotalCustomSchemaCountExceededException"}
      ]
    },
    "PutParameter":{
      "name":"PutParameter",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutParameterRequest"},
      "output":{"shape":"PutParameterResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"ParameterAlreadyExists"},
        {"shape":"InvalidKeyId"},
        {"shape":"ParameterLimitExceeded"}
      ]
    },
    "RegisterManagedInstance":{
      "name":"RegisterManagedInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RegisterManagedInstanceRequest"},
      "output":{"shape":"RegisterManagedInstanceResult"},
      "errors":[
        {"shape":"InvalidActivation"},
        {"shape":"ActivationExpired"},
        {"shape":"RegistrationLimitExceeded"},
        {"shape":"InternalServerError"}
      ]
    },
    "RemoveTagsFromResource":{
      "name":"RemoveTagsFromResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveTagsFromResourceRequest"},
      "output":{"shape":"RemoveTagsFromResourceResult"},
      "errors":[
        {"shape":"InvalidResourceType"},
        {"shape":"InvalidResourceId"},
        {"shape":"InternalServerError"}
      ]
    },
    "RequestManagedInstanceRoleToken":{
      "name":"RequestManagedInstanceRoleToken",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RequestManagedInstanceRoleTokenRequest"},
      "output":{"shape":"RequestManagedInstanceRoleTokenResult"},
      "errors":[
        {"shape":"MachineFingerprintDoesNotMatch"},
        {"shape":"InvalidInstanceId"},
        {"shape":"InternalServerError"}
      ]
    },
    "SendCommand":{
      "name":"SendCommand",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SendCommandRequest"},
      "output":{"shape":"SendCommandResult"},
      "errors":[
        {"shape":"DuplicateInstanceId"},
        {"shape":"InternalServerError"},
        {"shape":"InvalidInstanceId"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidOutputFolder"},
        {"shape":"InvalidParameters"},
        {"shape":"UnsupportedPlatformType"},
        {"shape":"MaxDocumentSizeExceeded"},
        {"shape":"InvalidRole"},
        {"shape":"InvalidNotificationConfig"}
      ]
    },
    "StartAutomationExecution":{
      "name":"StartAutomationExecution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartAutomationExecutionRequest"},
      "output":{"shape":"StartAutomationExecutionResult"},
      "errors":[
        {"shape":"AutomationDefinitionNotFoundException"},
        {"shape":"InvalidAutomationExecutionInputException"},
        {"shape":"AutomationExecutionLimitExceededException"},
        {"shape":"AutomationDefinitionVersionNotFoundException"},
        {"shape":"InternalServerError"}
      ]
    },
    "StopAutomationExecution":{
      "name":"StopAutomationExecution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopAutomationExecutionRequest"},
      "output":{"shape":"StopAutomationExecutionResult"},
      "errors":[
        {"shape":"AutomationExecutionNotFoundException"},
        {"shape":"InternalServerError"}
      ]
    },
    "UpdateAssociation":{
      "name":"UpdateAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateAssociationRequest"},
      "output":{"shape":"UpdateAssociationResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidSchedule"},
        {"shape":"InvalidParameters"},
        {"shape":"InvalidOutputFolder"},
        {"shape":"InvalidDocumentVersion"},
        {"shape":"AssociationDoesNotExist"},
        {"shape":"UpdateNotPossible"},
        {"shape":"TooManyUpdates"}
      ]
    },
    "UpdateAssociationStatus":{
      "name":"UpdateAssociationStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateAssociationStatusRequest"},
      "output":{"shape":"UpdateAssociationStatusResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidInstanceId"},
        {"shape":"InvalidDocument"},
        {"shape":"AssociationDoesNotExist"},
        {"shape":"StatusUnchanged"},
        {"shape":"TooManyUpdates"}
      ]
    },
    "UpdateDocument":{
      "name":"UpdateDocument",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDocumentRequest"},
      "output":{"shape":"UpdateDocumentResult"},
      "errors":[
        {"shape":"MaxDocumentSizeExceeded"},
        {"shape":"InternalServerError"},
        {"shape":"DuplicateDocumentContent"},
        {"shape":"InvalidDocumentContent"},
        {"shape":"InvalidDocumentVersion"},
        {"shape":"InvalidDocument"}
      ]
    },
    "UpdateDocumentDefaultVersion":{
      "name":"UpdateDocumentDefaultVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDocumentDefaultVersionRequest"},
      "output":{"shape":"UpdateDocumentDefaultVersionResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidDocument"},
        {"shape":"InvalidDocumentVersion"}
      ]
    },
    "UpdateInstanceAssociationStatus":{
      "name":"UpdateInstanceAssociationStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateInstanceAssociationStatusRequest"},
      "output":{"shape":"UpdateInstanceAssociationStatusResult"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"AssociationDoesNotExist"},
        {"shape":"TooManyUpdates"}
      ]
    },
    "UpdateInstanceInformation":{
      "name":"UpdateInstanceInformation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateInstanceInformationRequest"},
      "output":{"shape":"UpdateInstanceInformationResult"},
      "errors":[
        {"shape":"InvalidInstanceId"},
        {"shape":"InternalServerError"},
        {"shape":"InvalidInstanceInformationValue"}
      ]
    },
    "UpdateManagedInstancePublicKey":{
      "name":"UpdateManagedInstancePublicKey",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateManagedInstancePublicKeyRequest"},
      "output":{"shape":"UpdateManagedInstancePublicKeyResult"},
      "errors":[
        {"shape":"InvalidInstanceId"},
        {"shape":"InternalServerError"}
      ]
    },
    "UpdateManagedInstanceRole":{
      "name":"UpdateManagedInstanceRole",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateManagedInstanceRoleRequest"},
      "output":{"shape":"UpdateManagedInstanceRoleResult"},
      "errors":[
        {"shape":"InvalidInstanceId"},
        {"shape":"InternalServerError"}
      ]
    }
  },
  "shapes":{
    "AccessKeyId":{"type":"string"},
    "AccountId":{
      "type":"string",
      "pattern":"(?i)all|[0-9]{12}"
    },
    "AccountIdList":{
      "type":"list",
      "member":{
        "shape":"AccountId",
        "locationName":"AccountId"
      },
      "max":20
    },
    "Activation":{
      "type":"structure",
      "members":{
        "ActivationId":{"shape":"ActivationId"},
        "Description":{"shape":"ActivationDescription"},
        "DefaultInstanceName":{"shape":"DefaultInstanceName"},
        "IamRole":{"shape":"IamRole"},
        "RegistrationLimit":{"shape":"RegistrationLimit"},
        "RegistrationsCount":{"shape":"RegistrationsCount"},
        "ExpirationDate":{"shape":"ExpirationDate"},
        "Expired":{"shape":"Boolean"},
        "CreatedDate":{"shape":"CreatedDate"}
      }
    },
    "ActivationCode":{
      "type":"string",
      "max":250,
      "min":20
    },
    "ActivationDescription":{
      "type":"string",
      "max":256,
      "min":0
    },
    "ActivationExpired":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "exception":true
    },
    "ActivationId":{
      "type":"string",
      "pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
    },
    "ActivationList":{
      "type":"list",
      "member":{"shape":"Activation"}
    },
    "AddTagsToResourceRequest":{
      "type":"structure",
      "required":[
        "ResourceType",
        "ResourceId",
        "Tags"
      ],
      "members":{
        "ResourceType":{"shape":"ResourceTypeForTagging"},
        "ResourceId":{"shape":"ResourceId"},
        "Tags":{"shape":"TagList"}
      }
    },
    "AddTagsToResourceResult":{
      "type":"structure",
      "members":{
      }
    },
    "AgentErrorCode":{
      "type":"string",
      "max":256
    },
    "AgentOutputPrefixS3BucketName":{
      "type":"string",
      "pattern":"^ssm-agent-output-"
    },
    "AgentOutputS3KeyPrefix":{"type":"string"},
    "AgentStatus":{
      "type":"string",
      "max":100,
      "min":1
    },
    "ApplyAssociationsRequest":{
      "type":"structure",
      "required":["AssociationIds"],
      "members":{
        "AssociationIds":{"shape":"AssociationIdList"}
      }
    },
    "ApplyAssociationsResult":{
      "type":"structure",
      "members":{
      }
    },
    "Architecture":{"type":"string"},
    "AssociatedInstances":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "Association":{
      "type":"structure",
      "members":{
        "Name":{"shape":"DocumentName"},
        "InstanceId":{"shape":"InstanceId"},
        "AssociationId":{"shape":"AssociationId"},
        "DocumentVersion":{"shape":"DocumentVersion"},
        "Targets":{"shape":"Targets"},
        "LastExecutionDate":{"shape":"DateTime"},
        "Status":{"shape":"AssociationStatusName"},
        "Overview":{"shape":"AssociationOverview"},
        "ScheduleExpression":{"shape":"ScheduleExpression"}
      }
    },
    "AssociationAlreadyExists":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "AssociationDescription":{
      "type":"structure",
      "members":{
        "Name":{"shape":"DocumentName"},
        "InstanceId":{"shape":"InstanceId"},
        "Date":{"shape":"DateTime"},
        "ExecutionDate":{"shape":"DateTime"},
        "LastUpdateAssociationDate":{"shape":"DateTime"},
        "Status":{"shape":"AssociationStatus"},
        "Overview":{"shape":"AssociationOverview"},
        "DocumentVersion":{"shape":"DocumentVersion"},
        "Parameters":{"shape":"Parameters"},
        "AssociationId":{"shape":"AssociationId"},
        "Targets":{"shape":"Targets"},
        "ScheduleExpression":{"shape":"ScheduleExpression"},
        "OutputLocation":{"shape":"InstanceAssociationOutputLocation"}
      }
    },
    "AssociationDescriptionList":{
      "type":"list",
      "member":{
        "shape":"AssociationDescription",
        "locationName":"AssociationDescription"
      }
    },
    "AssociationDoesNotExist":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "AssociationFilter":{
      "type":"structure",
      "required":[
        "key",
        "value"
      ],
      "members":{
        "key":{"shape":"AssociationFilterKey"},
        "value":{"shape":"AssociationFilterValue"}
      }
    },
    "AssociationFilterKey":{
      "type":"string",
      "enum":[
        "InstanceId",
        "Name",
        "AssociationId",
        "Targets",
        "AssociationStatusName",
        "LastExecutedBefore",
        "LastExecutedAfter"
      ]
    },
    "AssociationFilterList":{
      "type":"list",
      "member":{
        "shape":"AssociationFilter",
        "locationName":"AssociationFilter"
      },
      "min":1
    },
    "AssociationFilterValue":{
      "type":"string",
      "min":1
    },
    "AssociationId":{
      "type":"string",
      "pattern":"[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"
    },
    "AssociationIdList":{
      "type":"list",
      "member":{"shape":"AssociationId"},
      "max":1,
      "min":1
    },
    "AssociationLimitExceeded":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "AssociationList":{
      "type":"list",
      "member":{
        "shape":"Association",
        "locationName":"Association"
      }
    },
    "AssociationOverview":{
      "type":"structure",
      "members":{
        "InstanceAssociationStatusAggregatedCount":{"shape":"InstanceAssociationStatusAggregatedCount"}
      }
    },
    "AssociationStatus":{
      "type":"structure",
      "required":[
        "Date",
        "Name",
        "Message"
      ],
      "members":{
        "Date":{"shape":"DateTime"},
        "Name":{"shape":"AssociationStatusName"},
        "Message":{"shape":"StatusMessage"},
        "AdditionalInfo":{"shape":"StatusAdditionalInfo"}
      }
    },
    "AssociationStatusName":{
      "type":"string",
      "enum":[
        "Creating",
        "Associated",
        "Pending",
        "InProgress",
        "Success",
        "Failed",
        "TimedOut",
        "LimitExceeded",
        "UnsupportedAgent"
      ]
    },
    "AttributeName":{
      "type":"string",
      "max":64,
      "min":1
    },
    "AttributeValue":{
      "type":"string",
      "max":1024,
      "min":0
    },
    "AutomationAction":{
      "type":"structure",
      "members":{
        "Name":{"shape":"AutomationActionName"},
        "Description":{"shape":"AutomationActionDescription"},
        "Inputs":{"shape":"AutomationActionIOList"},
        "Outputs":{"shape":"AutomationActionIOList"}
      }
    },
    "AutomationActionDescription":{
      "type":"string",
      "max":500,
      "min":0
    },
    "AutomationActionIOList":{
      "type":"list",
      "member":{"shape":"AutomationArgument"},
      "max":50,
      "min":0
    },
    "AutomationActionList":{
      "type":"list",
      "member":{"shape":"String"},
      "max":20,
      "min":0
    },
    "AutomationActionName":{
      "type":"string",
      "pattern":"^aws:[a-zA-Z]{3,25}$"
    },
    "AutomationActionNotFoundException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "AutomationArgument":{
      "type":"structure",
      "members":{
        "Name":{"shape":"String"},
        "Type":{"shape":"AutomationArgumentType"},
        "Regex":{"shape":"String"},
        "Required":{"shape":"Boolean"}
      }
    },
    "AutomationArgumentType":{
      "type":"string",
      "enum":[
        "STRING",
        "STRING_LIST",
        "INTEGER",
        "BOOLEAN",
        "STRING_MAP"
      ]
    },
    "AutomationDefinitionNotFoundException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "AutomationDefinitionVersionNotFoundException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "AutomationExecution":{
      "type":"structure",
      "members":{
        "AutomationExecutionId":{"shape":"AutomationExecutionId"},
        "DocumentName":{"shape":"DocumentName"},
        "DocumentVersion":{"shape":"DocumentVersion"},
        "ExecutionStartTime":{"shape":"DateTime"},
        "ExecutionEndTime":{"shape":"DateTime"},
        "AutomationExecutionStatus":{"shape":"AutomationExecutionStatus"},
        "StepExecutions":{"shape":"StepExecutionList"},
        "Inputs":{"shape":"AutomationParameterMap"},
        "Outputs":{"shape":"AutomationParameterMap"}
      }
    },
    "AutomationExecutionFilter":{
      "type":"structure",
      "required":[
        "Key",
        "Values"
      ],
      "members":{
        "Key":{"shape":"AutomationExecutionFilterKey"},
        "Values":{"shape":"AutomationExecutionFilterValueList"}
      }
    },
    "AutomationExecutionFilterKey":{
      "type":"string",
      "enum":[
        "DocumentNamePrefix",
        "ExecutionStatus"
      ]
    },
    "AutomationExecutionFilterList":{
      "type":"list",
      "member":{"shape":"AutomationExecutionFilter"},
      "max":10,
      "min":1
    },
    "AutomationExecutionFilterValue":{
      "type":"string",
      "max":150,
      "min":1
    },
    "AutomationExecutionFilterValueList":{
      "type":"list",
      "member":{"shape":"AutomationExecutionFilterValue"},
      "max":10,
      "min":1
    },
    "AutomationExecutionId":{
      "type":"string",
      "max":36,
      "min":36
    },
    "AutomationExecutionLimitExceededException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "AutomationExecutionMetadata":{
      "type":"structure",
      "members":{
        "AutomationExecutionId":{"shape":"AutomationExecutionId"},
        "DocumentName":{"shape":"DocumentName"},
        "DocumentVersion":{"shape":"DocumentVersion"},
        "AutomationExecutionStatus":{"shape":"AutomationExecutionStatus"},
        "ExecutionStartTime":{"shape":"DateTime"},
        "ExecutionEndTime":{"shape":"DateTime"},
        "ExecutedBy":{"shape":"String"},
        "LogFile":{"shape":"String"},
        "Outputs":{"shape":"AutomationParameterMap"}
      }
    },
    "AutomationExecutionMetadataList":{
      "type":"list",
      "member":{"shape":"AutomationExecutionMetadata"},
      "max":50,
      "min":0
    },
    "AutomationExecutionNotFoundException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "AutomationExecutionStatus":{
      "type":"string",
      "enum":[
        "Pending",
        "Running",
        "Completed",
        "Cancelled",
        "Failed"
      ]
    },
    "AutomationParameterKey":{
      "type":"string",
      "max":30,
      "min":1
    },
    "AutomationParameterMap":{
      "type":"map",
      "key":{"shape":"AutomationParameterKey"},
      "value":{"shape":"AutomationParameterValueList"},
      "max":10,
      "min":1
    },
    "AutomationParameterValue":{
      "type":"string",
      "max":250,
      "min":1
    },
    "AutomationParameterValueList":{
      "type":"list",
      "member":{"shape":"AutomationParameterValue"},
      "max":10,
      "min":0
    },
    "AvailabilityZone":{"type":"string"},
    "BatchErrorMessage":{"type":"string"},
    "Boolean":{"type":"boolean"},
    "CancelCommandRequest":{
      "type":"structure",
      "required":["CommandId"],
      "members":{
        "CommandId":{"shape":"CommandId"},
        "InstanceIds":{"shape":"InstanceIdList"}
      }
    },
    "CancelCommandResult":{
      "type":"structure",
      "members":{
      }
    },
    "Checksum":{"type":"string"},
    "Command":{
      "type":"structure",
      "members":{
        "CommandId":{"shape":"CommandId"},
        "DocumentName":{"shape":"DocumentARN"},
        "Comment":{"shape":"Comment"},
        "ExpiresAfter":{"shape":"DateTime"},
        "Parameters":{"shape":"Parameters"},
        "InstanceIds":{"shape":"InstanceIdList"},
        "Targets":{"shape":"Targets"},
        "RequestedDateTime":{"shape":"DateTime"},
        "Status":{"shape":"CommandStatus"},
        "StatusDetails":{"shape":"StatusDetails"},
        "OutputS3Region":{"shape":"S3Region"},
        "OutputS3BucketName":{"shape":"S3BucketName"},
        "OutputS3KeyPrefix":{"shape":"S3KeyPrefix"},
        "MaxConcurrency":{"shape":"VelocityConstraint"},
        "MaxErrors":{"shape":"VelocityConstraint"},
        "TargetCount":{"shape":"TargetCount"},
        "CompletedCount":{"shape":"CompletedCount"},
        "ErrorCount":{"shape":"ErrorCount"},
        "ServiceRole":{"shape":"ServiceRole"},
        "NotificationConfig":{"shape":"NotificationConfig"}
      }
    },
    "CommandFilter":{
      "type":"structure",
      "required":[
        "key",
        "value"
      ],
      "members":{
        "key":{"shape":"CommandFilterKey"},
        "value":{"shape":"CommandFilterValue"}
      }
    },
    "CommandFilterKey":{
      "type":"string",
      "enum":[
        "InvokedAfter",
        "InvokedBefore",
        "Status",
        "CommandId",
        "InstanceId"
      ]
    },
    "CommandFilterList":{
      "type":"list",
      "member":{"shape":"CommandFilter"},
      "max":5,
      "min":1
    },
    "CommandFilterValue":{
      "type":"string",
      "max":37,
      "min":1
    },
    "CommandId":{
      "type":"string",
      "max":36,
      "min":36
    },
    "CommandInvocation":{
      "type":"structure",
      "members":{
        "CommandId":{"shape":"CommandId"},
        "InstanceId":{"shape":"InstanceId"},
        "InstanceName":{"shape":"InstanceName"},
        "Comment":{"shape":"Comment"},
        "DocumentName":{"shape":"DocumentARN"},
        "RequestedDateTime":{"shape":"DateTime"},
        "Status":{"shape":"CommandInvocationStatus"},
        "StatusDetails":{"shape":"StatusDetails"},
        "TraceOutput":{"shape":"InvocationTraceOutput"},
        "StandardOutputUrl":{"shape":"Url"},
        "StandardErrorUrl":{"shape":"Url"},
        "CommandPlugins":{"shape":"CommandPluginList"},
        "ServiceRole":{"shape":"ServiceRole"},
        "NotificationConfig":{"shape":"NotificationConfig"}
      }
    },
    "CommandInvocationList":{
      "type":"list",
      "member":{"shape":"CommandInvocation"}
    },
    "CommandInvocationStatus":{
      "type":"string",
      "enum":[
        "Pending",
        "InProgress",
        "Delayed",
        "Success",
        "Cancelled",
        "Failed",
        "TimedOut",
        "Cancelling"
      ]
    },
    "CommandList":{
      "type":"list",
      "member":{"shape":"Command"}
    },
    "CommandMaxResults":{
      "type":"integer",
      "max":50,
      "min":1
    },
    "CommandPlugin":{
      "type":"structure",
      "members":{
        "Name":{"shape":"CommandPluginName"},
        "Status":{"shape":"CommandPluginStatus"},
        "StatusDetails":{"shape":"StatusDetails"},
        "ResponseCode":{"shape":"ResponseCode"},
        "ResponseStartDateTime":{"shape":"DateTime"},
        "ResponseFinishDateTime":{"shape":"DateTime"},
        "Output":{"shape":"CommandPluginOutput"},
        "StandardOutputUrl":{"shape":"Url"},
        "StandardErrorUrl":{"shape":"Url"},
        "OutputS3Region":{"shape":"S3Region"},
        "OutputS3BucketName":{"shape":"S3BucketName"},
        "OutputS3KeyPrefix":{"shape":"S3KeyPrefix"}
      }
    },
    "CommandPluginList":{
      "type":"list",
      "member":{"shape":"CommandPlugin"}
    },
    "CommandPluginName":{
      "type":"string",
      "min":4
    },
    "CommandPluginOutput":{
      "type":"string",
      "max":65536
    },
    "CommandPluginStatus":{
      "type":"string",
      "enum":[
        "Pending",
        "InProgress",
        "Success",
        "TimedOut",
        "Cancelled",
        "Failed"
      ]
    },
    "CommandStatus":{
      "type":"string",
      "enum":[
        "Pending",
        "InProgress",
        "Success",
        "Cancelled",
        "Failed",
        "TimedOut",
        "Cancelling"
      ]
    },
    "Comment":{
      "type":"string",
      "max":100
    },
    "CompletedCount":{"type":"integer"},
    "ComputerName":{
      "type":"string",
      "max":255,
      "min":1
    },
    "CreateActivationRequest":{
      "type":"structure",
      "required":["IamRole"],
      "members":{
        "Description":{"shape":"ActivationDescription"},
        "DefaultInstanceName":{"shape":"DefaultInstanceName"},
        "IamRole":{"shape":"IamRole"},
        "RegistrationLimit":{
          "shape":"RegistrationLimit",
          "box":true
        },
        "ExpirationDate":{"shape":"ExpirationDate"}
      }
    },
    "CreateActivationResult":{
      "type":"structure",
      "members":{
        "ActivationId":{"shape":"ActivationId"},
        "ActivationCode":{"shape":"ActivationCode"}
      }
    },
    "CreateAssociationBatchRequest":{
      "type":"structure",
      "required":["Entries"],
      "members":{
        "Entries":{"shape":"CreateAssociationBatchRequestEntries"}
      }
    },
    "CreateAssociationBatchRequestEntries":{
      "type":"list",
      "member":{
        "shape":"CreateAssociationBatchRequestEntry",
        "locationName":"entries"
      },
      "min":1
    },
    "CreateAssociationBatchRequestEntry":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"DocumentName"},
        "InstanceId":{"shape":"InstanceId"},
        "Parameters":{"shape":"Parameters"},
        "DocumentVersion":{"shape":"DocumentVersion"},
        "Targets":{"shape":"Targets"},
        "ScheduleExpression":{"shape":"ScheduleExpression"},
        "OutputLocation":{"shape":"InstanceAssociationOutputLocation"}
      }
    },
    "CreateAssociationBatchResult":{
      "type":"structure",
      "members":{
        "Successful":{"shape":"AssociationDescriptionList"},
        "Failed":{"shape":"FailedCreateAssociationList"}
      }
    },
    "CreateAssociationRequest":{
      "type":"structure",
      "required":[
        "Name",
        "InstanceId"
      ],
      "members":{
        "Name":{"shape":"DocumentName"},
        "DocumentVersion":{"shape":"DocumentVersion"},
        "InstanceId":{"shape":"InstanceId"},
        "Parameters":{"shape":"Parameters"},
        "Targets":{"shape":"Targets"},
        "ScheduleExpression":{"shape":"ScheduleExpression"},
        "OutputLocation":{"shape":"InstanceAssociationOutputLocation"}
      }
    },
    "CreateAssociationResult":{
      "type":"structure",
      "members":{
        "AssociationDescription":{"shape":"AssociationDescription"}
      }
    },
    "CreateDocumentRequest":{
      "type":"structure",
      "required":[
        "Content",
        "Name"
      ],
      "members":{
        "Content":{"shape":"DocumentContent"},
        "Name":{"shape":"DocumentName"},
        "DocumentType":{"shape":"DocumentType"}
      }
    },
    "CreateDocumentResult":{
      "type":"structure",
      "members":{
        "DocumentDescription":{"shape":"DocumentDescription"}
      }
    },
    "CreatedDate":{"type":"timestamp"},
    "DataDictionaryParameterDescription":{
      "type":"string",
      "max":1024,
      "min":0
    },
    "DataDictionaryParameterDetail":{
      "type":"structure",
      "members":{
        "Name":{"shape":"DataDictionaryParameterName"},
        "Type":{"shape":"DataDictionaryParameterType"},
        "LastModifyDate":{"shape":"ModifyDate"},
        "LastModifyUser":{"shape":"ModifyByUser"},
        "Value":{"shape":"DataDictionaryParameterValue"}
      }
    },
    "DataDictionaryParameterDetailList":{
      "type":"list",
      "member":{"shape":"DataDictionaryParameterDetail"}
    },
    "DataDictionaryParameterFilter":{
      "type":"structure",
      "members":{
        "Key":{"shape":"DataDictionaryParameterFilterKey"},
        "Values":{"shape":"DataDictionaryParameterFilterValueList"}
      }
    },
    "DataDictionaryParameterFilterKey":{
      "type":"string",
      "enum":[
        "Name",
        "Type",
        "KeyId"
      ]
    },
    "DataDictionaryParameterFilterList":{
      "type":"list",
      "member":{"shape":"DataDictionaryParameterFilter"}
    },
    "DataDictionaryParameterFilterValue":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "DataDictionaryParameterFilterValueList":{
      "type":"list",
      "member":{"shape":"DataDictionaryParameterFilterValue"},
      "max":50,
      "min":1
    },
    "DataDictionaryParameterKeyId":{
      "type":"string",
      "max":256,
      "min":0
    },
    "DataDictionaryParameterModificationDetail":{
      "type":"structure",
      "members":{
        "Value":{"shape":"DataDictionaryParameterValue"},
        "ModifyDate":{"shape":"ModifyDate"},
        "ModifyUser":{"shape":"ModifyByUser"}
      }
    },
    "DataDictionaryParameterModificationDetailList":{
      "type":"list",
      "member":{"shape":"DataDictionaryParameterModificationDetail"}
    },
    "DataDictionaryParameterName":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"^(?!^(?i)aws)(?!^(?i)ssm)(?=^[\\p{L}\\p{Z}\\p{N}_.:/=+\\-]*$).*$"
    },
    "DataDictionaryParameterNameList":{
      "type":"list",
      "member":{"shape":"DataDictionaryParameterName"},
      "max":50,
      "min":1
    },
    "DataDictionaryParameterType":{
      "type":"string",
      "enum":[
        "String",
        "StringList",
        "SecureString"
      ]
    },
    "DataDictionaryParameterValue":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "DateTime":{"type":"timestamp"},
    "DebugInfo":{
      "type":"string",
      "max":1024
    },
    "DefaultInstanceName":{
      "type":"string",
      "max":256,
      "min":0,
      "pattern":"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
    },
    "DeleteActivationRequest":{
      "type":"structure",
      "required":["ActivationId"],
      "members":{
        "ActivationId":{"shape":"ActivationId"}
      }
    },
    "DeleteActivationResult":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteAssociationRequest":{
      "type":"structure",
      "required":[
        "Name",
        "InstanceId"
      ],
      "members":{
        "Name":{"shape":"DocumentName"},
        "InstanceId":{"shape":"InstanceId"},
        "AssociationId":{"shape":"AssociationId"}
      }
    },
    "DeleteAssociationResult":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteDocumentRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"DocumentName"}
      }
    },
    "DeleteDocumentResult":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteParameterRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"DataDictionaryParameterName"}
      }
    },
    "DeleteParameterResult":{
      "type":"structure",
      "members":{
      }
    },
    "DeregisterManagedInstanceRequest":{
      "type":"structure",
      "required":["InstanceId"],
      "members":{
        "InstanceId":{"shape":"ManagedInstanceId"}
      }
    },
    "DeregisterManagedInstanceResult":{
      "type":"structure",
      "members":{
      }
    },
    "DescribeActivationsFilter":{
      "type":"structure",
      "members":{
        "FilterKey":{"shape":"DescribeActivationsFilterKeys"},
        "FilterValues":{"shape":"StringList"}
      }
    },
    "DescribeActivationsFilterKeys":{
      "type":"string",
      "enum":[
        "ActivationIds",
        "DefaultInstanceName",
        "IamRole"
      ]
    },
    "DescribeActivationsFilterList":{
      "type":"list",
      "member":{"shape":"DescribeActivationsFilter"}
    },
    "DescribeActivationsRequest":{
      "type":"structure",
      "members":{
        "Filters":{"shape":"DescribeActivationsFilterList"},
        "MaxResults":{
          "shape":"MaxResults",
          "box":true
        },
        "NextToken":{"shape":"NextToken"}
      }
    },
    "DescribeActivationsResult":{
      "type":"structure",
      "members":{
        "ActivationList":{"shape":"ActivationList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "DescribeAssociationRequest":{
      "type":"structure",
      "required":[
        "Name",
        "InstanceId"
      ],
      "members":{
        "Name":{"shape":"DocumentName"},
        "InstanceId":{"shape":"InstanceId"},
        "AssociationId":{"shape":"AssociationId"}
      }
    },
    "DescribeAssociationResult":{
      "type":"structure",
      "members":{
        "AssociationDescription":{"shape":"AssociationDescription"}
      }
    },
    "DescribeAutomationActionsRequest":{
      "type":"structure",
      "members":{
      }
    },
    "DescribeAutomationActionsResult":{
      "type":"structure",
      "members":{
        "ActionList":{"shape":"AutomationActionList"}
      }
    },
    "DescribeAutomationExecutionsRequest":{
      "type":"structure",
      "members":{
        "Filters":{"shape":"AutomationExecutionFilterList"},
        "MaxResults":{
          "shape":"MaxResults",
          "box":true
        },
        "NextToken":{"shape":"NextToken"}
      }
    },
    "DescribeAutomationExecutionsResult":{
      "type":"structure",
      "members":{
        "AutomationExecutionMetadataList":{"shape":"AutomationExecutionMetadataList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "DescribeDocumentInternalRequest":{
      "type":"structure",
      "required":[
        "CustomerAccountId",
        "Name"
      ],
      "members":{
        "CustomerAccountId":{"shape":"AccountId"},
        "Name":{"shape":"DocumentARN"},
        "DocumentVersion":{"shape":"DocumentVersion"}
      }
    },
    "DescribeDocumentInternalResult":{
      "type":"structure",
      "members":{
        "Document":{"shape":"DocumentDescription"}
      }
    },
    "DescribeDocumentParametersRequest":{
      "type":"structure",
      "required":["DocumentName"],
      "members":{
        "DocumentName":{"shape":"DocumentARN"},
        "DocumentVersion":{"shape":"DocumentVersion"}
      }
    },
    "DescribeDocumentParametersResult":{
      "type":"structure",
      "members":{
        "Config":{"shape":"DynamicConfigParameters"}
      }
    },
    "DescribeDocumentPermissionRequest":{
      "type":"structure",
      "required":[
        "Name",
        "PermissionType"
      ],
      "members":{
        "Name":{"shape":"DocumentName"},
        "PermissionType":{"shape":"DocumentPermissionType"}
      }
    },
    "DescribeDocumentPermissionResponse":{
      "type":"structure",
      "members":{
        "AccountIds":{"shape":"AccountIdList"}
      }
    },
    "DescribeDocumentRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"DocumentARN"},
        "DocumentVersion":{"shape":"DocumentVersion"}
      }
    },
    "DescribeDocumentResult":{
      "type":"structure",
      "members":{
        "Document":{"shape":"DocumentDescription"}
      }
    },
    "DescribeInstanceAssociationsRequest":{
      "type":"structure",
      "required":["InstanceId"],
      "members":{
        "InstanceId":{"shape":"InstanceId"},
        "MaxResults":{
          "shape":"InstanceAssociationMaxResults",
          "box":true
        },
        "NextToken":{"shape":"NextToken"}
      }
    },
    "DescribeInstanceAssociationsResult":{
      "type":"structure",
      "members":{
        "Associations":{"shape":"InstanceAssociationList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "DescribeInstanceAssociationsStatusRequest":{
      "type":"structure",
      "required":["InstanceId"],
      "members":{
        "InstanceId":{"shape":"InstanceId"},
        "MaxResults":{
          "shape":"MaxResults",
          "box":true
        },
        "NextToken":{"shape":"NextToken"}
      }
    },
    "DescribeInstanceAssociationsStatusResult":{
      "type":"structure",
      "members":{
        "InstanceAssociationStatusInfoList":{"shape":"InstanceAssociationStatusInfoList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "DescribeInstanceInformationRequest":{
      "type":"structure",
      "members":{
        "InstanceInformationFilterList":{"shape":"InstanceInformationFilterList"},
        "MaxResults":{
          "shape":"MaxResultsEC2Compatible",
          "box":true
        },
        "NextToken":{"shape":"NextToken"}
      }
    },
    "DescribeInstanceInformationResult":{
      "type":"structure",
      "members":{
        "InstanceInformationList":{"shape":"InstanceInformationList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "DescribeInstancePropertiesMaxResults":{
      "type":"integer",
      "max":1000,
      "min":5
    },
    "DescribeInstancePropertiesRequest":{
      "type":"structure",
      "members":{
        "InstancePropertyFilterList":{"shape":"InstancePropertyFilterList"},
        "MaxResults":{
          "shape":"DescribeInstancePropertiesMaxResults",
          "box":true
        },
        "NextToken":{"shape":"NextToken"}
      }
    },
    "DescribeInstancePropertiesResult":{
      "type":"structure",
      "members":{
        "InstanceProperties":{"shape":"InstanceProperties"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "DescribeParametersRequest":{
      "type":"structure",
      "members":{
        "Filters":{"shape":"DataDictionaryParameterFilterList"},
        "MaxResults":{"shape":"MaxResults"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "DescribeParametersResult":{
      "type":"structure",
      "members":{
        "Parameters":{"shape":"DataDictionaryParameterDetailList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "DescriptionInDocument":{"type":"string"},
    "DocumentARN":{
      "type":"string",
      "pattern":"^[a-zA-Z0-9_\\-.:/]{3,128}$"
    },
    "DocumentAlreadyExists":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "DocumentContent":{
      "type":"string",
      "min":1
    },
    "DocumentDescription":{
      "type":"structure",
      "members":{
        "Sha1":{"shape":"DocumentSha1"},
        "Hash":{"shape":"DocumentHash"},
        "HashType":{"shape":"DocumentHashType"},
        "Name":{"shape":"DocumentARN"},
        "Owner":{"shape":"DocumentOwner"},
        "CreatedDate":{"shape":"DateTime"},
        "Status":{"shape":"DocumentStatus"},
        "DocumentVersion":{"shape":"DocumentVersion"},
        "Description":{"shape":"DescriptionInDocument"},
        "Parameters":{"shape":"DocumentParameterList"},
        "PlatformTypes":{"shape":"PlatformTypeList"},
        "DocumentType":{"shape":"DocumentType"}
      }
    },
    "DocumentFilter":{
      "type":"structure",
      "required":[
        "key",
        "value"
      ],
      "members":{
        "key":{"shape":"DocumentFilterKey"},
        "value":{"shape":"DocumentFilterValue"}
      }
    },
    "DocumentFilterKey":{
      "type":"string",
      "enum":[
        "Name",
        "Owner",
        "PlatformTypes"
      ]
    },
    "DocumentFilterList":{
      "type":"list",
      "member":{
        "shape":"DocumentFilter",
        "locationName":"DocumentFilter"
      },
      "min":1
    },
    "DocumentFilterValue":{
      "type":"string",
      "min":1
    },
    "DocumentHash":{
      "type":"string",
      "max":256
    },
    "DocumentHashType":{
      "type":"string",
      "enum":[
        "Sha256",
        "Sha1"
      ]
    },
    "DocumentIdentifier":{
      "type":"structure",
      "members":{
        "Name":{"shape":"DocumentARN"},
        "Owner":{"shape":"DocumentOwner"},
        "PlatformTypes":{"shape":"PlatformTypeList"},
        "DocumentVersion":{"shape":"DocumentVersion"},
        "DocumentType":{"shape":"DocumentType"}
      }
    },
    "DocumentIdentifierList":{
      "type":"list",
      "member":{
        "shape":"DocumentIdentifier",
        "locationName":"DocumentIdentifier"
      }
    },
    "DocumentLimitExceeded":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "DocumentName":{
      "type":"string",
      "pattern":"^[a-zA-Z0-9_\\-.]{3,128}$"
    },
    "DocumentOwner":{"type":"string"},
    "DocumentParameter":{
      "type":"structure",
      "members":{
        "Name":{"shape":"DocumentParameterName"},
        "Type":{"shape":"DocumentParameterType"},
        "Description":{"shape":"DocumentParameterDescrption"},
        "DefaultValue":{"shape":"DocumentParameterDefaultValue"}
      }
    },
    "DocumentParameterDefaultValue":{"type":"string"},
    "DocumentParameterDescrption":{"type":"string"},
    "DocumentParameterList":{
      "type":"list",
      "member":{
        "shape":"DocumentParameter",
        "locationName":"DocumentParameter"
      }
    },
    "DocumentParameterName":{"type":"string"},
    "DocumentParameterType":{
      "type":"string",
      "enum":[
        "String",
        "StringList"
      ]
    },
    "DocumentPermissionLimit":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "DocumentPermissionType":{
      "type":"string",
      "enum":["Share"]
    },
    "DocumentSha1":{"type":"string"},
    "DocumentStatus":{
      "type":"string",
      "enum":[
        "Creating",
        "Active",
        "Updating",
        "Deleting"
      ]
    },
    "DocumentType":{
      "type":"string",
      "enum":[
        "Command",
        "Association",
        "Ec2Automation"
      ]
    },
    "DocumentVersion":{
      "type":"string",
      "pattern":"([$]LATEST|[$]DEFAULT|^[1-9][0-9]*$)"
    },
    "DocumentVersionDescription":{
      "type":"structure",
      "members":{
        "Name":{"shape":"DocumentName"},
        "DocumentVersion":{"shape":"DocumentVersion"}
      }
    },
    "DocumentVersionInfo":{
      "type":"structure",
      "members":{
        "Name":{"shape":"DocumentName"},
        "DocumentVersion":{"shape":"DocumentVersion"},
        "CreatedDate":{"shape":"DateTime"},
        "IsDefaultVersion":{"shape":"Boolean"}
      }
    },
    "DocumentVersionList":{
      "type":"list",
      "member":{"shape":"DocumentVersionInfo"},
      "min":1
    },
    "DuplicateDocumentContent":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "DuplicateInstanceId":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "DynamicConfigParameters":{"type":"string"},
    "ErrorCount":{"type":"integer"},
    "ExpirationDate":{"type":"timestamp"},
    "FailedCreateAssociation":{
      "type":"structure",
      "members":{
        "Entry":{"shape":"CreateAssociationBatchRequestEntry"},
        "Message":{"shape":"BatchErrorMessage"},
        "Fault":{"shape":"Fault"}
      }
    },
    "FailedCreateAssociationList":{
      "type":"list",
      "member":{
        "shape":"FailedCreateAssociation",
        "locationName":"FailedCreateAssociationEntry"
      }
    },
    "Fault":{
      "type":"string",
      "enum":[
        "Client",
        "Server",
        "Unknown"
      ]
    },
    "Fingerprint":{
      "type":"string",
      "max":100,
      "min":0
    },
    "GetAutomationActionRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"AutomationActionName"}
      }
    },
    "GetAutomationActionResult":{
      "type":"structure",
      "members":{
        "ActionDetail":{"shape":"AutomationAction"}
      }
    },
    "GetAutomationExecutionRequest":{
      "type":"structure",
      "required":["AutomationExecutionId"],
      "members":{
        "AutomationExecutionId":{"shape":"AutomationExecutionId"}
      }
    },
    "GetAutomationExecutionResult":{
      "type":"structure",
      "members":{
        "AutomationExecution":{"shape":"AutomationExecution"}
      }
    },
    "GetCommandInvocationRequest":{
      "type":"structure",
      "required":[
        "CommandId",
        "InstanceId"
      ],
      "members":{
        "CommandId":{"shape":"CommandId"},
        "InstanceId":{"shape":"InstanceId"},
        "PluginName":{"shape":"CommandPluginName"}
      }
    },
    "GetCommandInvocationResult":{
      "type":"structure",
      "members":{
        "CommandId":{"shape":"CommandId"},
        "InstanceId":{"shape":"InstanceId"},
        "Comment":{"shape":"Comment"},
        "DocumentName":{"shape":"DocumentName"},
        "PluginName":{"shape":"CommandPluginName"},
        "ResponseCode":{"shape":"ResponseCode"},
        "ExecutionStartDateTime":{"shape":"StringDateTime"},
        "ExecutionElapsedTime":{"shape":"StringDateTime"},
        "ExecutionEndDateTime":{"shape":"StringDateTime"},
        "Status":{"shape":"CommandInvocationStatus"},
        "StatusDetails":{"shape":"StatusDetails"},
        "StandardOutputContent":{"shape":"StandardOutputContent"},
        "StandardOutputUrl":{"shape":"Url"},
        "StandardErrorContent":{"shape":"StandardErrorContent"},
        "StandardErrorUrl":{"shape":"Url"}
      }
    },
    "GetDocumentInternalRequest":{
      "type":"structure",
      "required":[
        "CustomerAccountId",
        "Name"
      ],
      "members":{
        "CustomerAccountId":{"shape":"AccountId"},
        "Name":{"shape":"DocumentARN"},
        "DocumentVersion":{"shape":"DocumentVersion"}
      }
    },
    "GetDocumentInternalResult":{
      "type":"structure",
      "members":{
        "Name":{"shape":"DocumentARN"},
        "Content":{"shape":"DocumentContent"},
        "DocumentVersion":{"shape":"DocumentVersion"},
        "DocumentType":{"shape":"DocumentType"}
      }
    },
    "GetDocumentRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"DocumentARN"},
        "DocumentVersion":{"shape":"DocumentVersion"}
      }
    },
    "GetDocumentResult":{
      "type":"structure",
      "members":{
        "Name":{"shape":"DocumentARN"},
        "DocumentVersion":{"shape":"DocumentVersion"},
        "Content":{"shape":"DocumentContent"},
        "DocumentType":{"shape":"DocumentType"}
      }
    },
    "GetInventoryRequest":{
      "type":"structure",
      "members":{
        "Filters":{"shape":"InventoryFilterList"},
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{
          "shape":"MaxResults",
          "box":true
        }
      }
    },
    "GetInventoryResult":{
      "type":"structure",
      "members":{
        "Items":{"shape":"InventoryResultItemList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "GetInventorySchemaRequest":{
      "type":"structure",
      "members":{
        "TypeName":{"shape":"InventoryItemTypeName"},
        "WithAttributes":{"shape":"Boolean"}
      }
    },
    "GetInventorySchemaResult":{
      "type":"structure",
      "members":{
        "Schemas":{"shape":"InventoryItemSchemaResultList"}
      }
    },
    "GetParameterHistoryRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"DataDictionaryParameterName"}
      }
    },
    "GetParameterHistoryResult":{
      "type":"structure",
      "members":{
        "Histories":{"shape":"DataDictionaryParameterModificationDetailList"}
      }
    },
    "GetParametersRequest":{
      "type":"structure",
      "required":["Names"],
      "members":{
        "Names":{"shape":"DataDictionaryParameterNameList"}
      }
    },
    "GetParametersResult":{
      "type":"structure",
      "members":{
        "Parameters":{"shape":"DataDictionaryParameterDetailList"}
      }
    },
    "IPAddress":{
      "type":"string",
      "max":46,
      "min":1
    },
    "IamRole":{
      "type":"string",
      "max":64
    },
    "InstanceAggregatedAssociationOverview":{
      "type":"structure",
      "members":{
        "InstanceAssociationStatusAggregatedCount":{"shape":"InstanceAssociationStatusAggregatedCount"}
      }
    },
    "InstanceAggregatedAssociationStatusName":{
      "type":"string",
      "enum":[
        "Associated",
        "Pending",
        "InProgress",
        "Success",
        "Failed",
        "TimedOut",
        "LimitExceeded",
        "UnsupportedAgent"
      ]
    },
    "InstanceAssociation":{
      "type":"structure",
      "members":{
        "AssociationId":{"shape":"AssociationId"},
        "InstanceId":{"shape":"InstanceId"},
        "Content":{"shape":"DocumentContent"}
      }
    },
    "InstanceAssociationExecutionStatus":{
      "type":"structure",
      "required":[
        "ExecutionDate",
        "Status",
        "ExecutionSummary"
      ],
      "members":{
        "ExecutionDate":{"shape":"DateTime"},
        "Status":{"shape":"InstanceAssociationExecutionStatusName"},
        "ExecutionSummary":{"shape":"InstanceAssociationExecutionSummary"},
        "ErrorCode":{"shape":"AgentErrorCode"},
        "DebugInfo":{"shape":"DebugInfo"}
      }
    },
    "InstanceAssociationExecutionStatusName":{
      "type":"string",
      "enum":[
        "Pending",
        "InProgress",
        "Success",
        "Failed",
        "TimedOut"
      ]
    },
    "InstanceAssociationExecutionSummary":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "InstanceAssociationList":{
      "type":"list",
      "member":{"shape":"InstanceAssociation"}
    },
    "InstanceAssociationMaxResults":{
      "type":"integer",
      "max":5,
      "min":1
    },
    "InstanceAssociationOutputLocation":{
      "type":"structure",
      "members":{
        "S3Location":{"shape":"S3OutputLocation"}
      }
    },
    "InstanceAssociationStatusAggregatedCount":{
      "type":"map",
      "key":{"shape":"InstanceAssociationStatusName"},
      "value":{"shape":"InstanceAssociationStatusCount"}
    },
    "InstanceAssociationStatusCount":{"type":"integer"},
    "InstanceAssociationStatusInfo":{
      "type":"structure",
      "members":{
        "AssociationId":{"shape":"AssociationId"},
        "Name":{"shape":"DocumentName"},
        "DocumentVersion":{"shape":"DocumentVersion"},
        "InstanceId":{"shape":"InstanceId"},
        "ExecutionDate":{"shape":"DateTime"},
        "Status":{"shape":"InstanceAssociationStatusName"},
        "ExecutionSummary":{"shape":"InstanceAssociationExecutionSummary"},
        "ErrorCode":{"shape":"AgentErrorCode"},
        "DebugInfo":{"shape":"DebugInfo"}
      }
    },
    "InstanceAssociationStatusInfoList":{
      "type":"list",
      "member":{"shape":"InstanceAssociationStatusInfo"}
    },
    "InstanceAssociationStatusName":{
      "type":"string",
      "enum":[
        "Associated",
        "Pending",
        "InProgress",
        "Success",
        "Failed",
        "TimedOut",
        "LimitExceeded",
        "UnsupportedAgent"
      ]
    },
    "InstanceAssociationSummary":{
      "type":"structure",
      "members":{
        "AssociationId":{"shape":"AssociationId"},
        "InstanceId":{"shape":"InstanceId"},
        "Name":{"shape":"DocumentName"},
        "DocumentVersion":{"shape":"DocumentVersion"},
        "Parameters":{"shape":"Parameters"},
        "Targets":{"shape":"Targets"},
        "ScheduleExpression":{"shape":"ScheduleExpression"},
        "OutputLocation":{"shape":"InstanceAssociationOutputLocation"},
        "Checksum":{"shape":"Checksum"}
      }
    },
    "InstanceAssociationSummaryList":{
      "type":"list",
      "member":{"shape":"InstanceAssociationSummary"}
    },
    "InstanceId":{
      "type":"string",
      "pattern":"(^i-(\\w{8}|\\w{17})$)|(^mi-\\w{17}$)"
    },
    "InstanceIdList":{
      "type":"list",
      "member":{"shape":"InstanceId"},
      "max":50,
      "min":0
    },
    "InstanceInformation":{
      "type":"structure",
      "members":{
        "InstanceId":{"shape":"InstanceId"},
        "PingStatus":{"shape":"PingStatus"},
        "LastPingDateTime":{
          "shape":"DateTime",
          "box":true
        },
        "AgentVersion":{"shape":"Version"},
        "IsLatestVersion":{
          "shape":"Boolean",
          "box":true
        },
        "PlatformType":{"shape":"PlatformType"},
        "PlatformName":{"shape":"String"},
        "PlatformVersion":{"shape":"String"},
        "ActivationId":{"shape":"ActivationId"},
        "IamRole":{"shape":"IamRole"},
        "RegistrationDate":{
          "shape":"DateTime",
          "box":true
        },
        "ResourceType":{"shape":"ResourceType"},
        "Name":{"shape":"String"},
        "IPAddress":{"shape":"IPAddress"},
        "ComputerName":{"shape":"ComputerName"},
        "AssociationLastExecutedOn":{"shape":"DateTime"},
        "AggregatedStatus":{"shape":"InstanceAggregatedAssociationStatusName"},
        "AggregatedOverview":{"shape":"InstanceAggregatedAssociationOverview"}
      }
    },
    "InstanceInformationFilter":{
      "type":"structure",
      "required":[
        "key",
        "valueSet"
      ],
      "members":{
        "key":{"shape":"InstanceInformationFilterKey"},
        "valueSet":{"shape":"InstanceInformationFilterValueSet"}
      }
    },
    "InstanceInformationFilterKey":{
      "type":"string",
      "enum":[
        "InstanceIds",
        "AgentVersion",
        "PingStatus",
        "PlatformTypes",
        "ActivationIds",
        "IamRole",
        "ResourceType",
        "AssociationStatus"
      ]
    },
    "InstanceInformationFilterList":{
      "type":"list",
      "member":{
        "shape":"InstanceInformationFilter",
        "locationName":"InstanceInformationFilter"
      },
      "min":1
    },
    "InstanceInformationFilterValue":{
      "type":"string",
      "min":1
    },
    "InstanceInformationFilterValueSet":{
      "type":"list",
      "member":{
        "shape":"InstanceInformationFilterValue",
        "locationName":"InstanceInformationFilterValue"
      },
      "max":100,
      "min":1
    },
    "InstanceInformationList":{
      "type":"list",
      "member":{
        "shape":"InstanceInformation",
        "locationName":"InstanceInformation"
      }
    },
    "InstanceName":{
      "type":"string",
      "max":255
    },
    "InstanceProperties":{
      "type":"list",
      "member":{
        "shape":"InstanceProperty",
        "locationName":"InstanceProperty"
      }
    },
    "InstanceProperty":{
      "type":"structure",
      "members":{
        "Name":{"shape":"InstanceName"},
        "InstanceId":{"shape":"InstanceId"},
        "InstanceType":{"shape":"InstanceType"},
        "InstanceRole":{"shape":"InstanceRole"},
        "KeyName":{"shape":"KeyName"},
        "InstanceState":{"shape":"InstanceState"},
        "Architecture":{"shape":"Architecture"},
        "AvailabilityZone":{"shape":"AvailabilityZone"},
        "IPAddress":{"shape":"IPAddress"},
        "LaunchTime":{"shape":"DateTime"},
        "PingStatus":{"shape":"PingStatus"},
        "LastPingDateTime":{"shape":"DateTime"},
        "AgentVersion":{"shape":"Version"},
        "PlatformType":{"shape":"PlatformType"},
        "PlatformName":{"shape":"PlatformName"},
        "PlatformVersion":{"shape":"PlatformVersion"},
        "ActivationId":{"shape":"ActivationId"},
        "IamRole":{"shape":"IamRole"},
        "RegistrationDate":{"shape":"DateTime"},
        "ResourceType":{"shape":"String"},
        "ComputerName":{"shape":"ComputerName"},
        "AggregatedStatus":{"shape":"InstanceAggregatedAssociationStatusName"},
        "AggregatedOverview":{"shape":"InstanceAggregatedAssociationOverview"}
      }
    },
    "InstancePropertyFilter":{
      "type":"structure",
      "required":[
        "key",
        "valueSet"
      ],
      "members":{
        "key":{"shape":"InstancePropertyFilterKey"},
        "valueSet":{"shape":"InstancePropertyFilterValueSet"}
      }
    },
    "InstancePropertyFilterKey":{
      "type":"string",
      "enum":[
        "InstanceIds",
        "AgentVersion",
        "PingStatus",
        "PlatformTypes",
        "DocumentName",
        "ActivationIds",
        "IamRole",
        "ResourceType",
        "AssociationStatus"
      ]
    },
    "InstancePropertyFilterList":{
      "type":"list",
      "member":{
        "shape":"InstancePropertyFilter",
        "locationName":"InstancePropertyFilter"
      }
    },
    "InstancePropertyFilterValue":{
      "type":"string",
      "min":1
    },
    "InstancePropertyFilterValueSet":{
      "type":"list",
      "member":{
        "shape":"InstancePropertyFilterValue",
        "locationName":"InstancePropertyFilterValue"
      },
      "max":100,
      "min":1
    },
    "InstanceRole":{"type":"string"},
    "InstanceState":{"type":"string"},
    "InstanceType":{"type":"string"},
    "InternalServerError":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidActivation":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidActivationId":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidAssociation":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidAutomationExecutionInputException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidCommandId":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "InvalidDocument":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidDocumentContent":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidDocumentOperation":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidDocumentVersion":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidFilter":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidFilterKey":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidFilterValue":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidInstanceId":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidInstanceInformationFilterValue":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidInstanceInformationValue":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidInstancePropertyFilterValue":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidItemContentException":{
      "type":"structure",
      "members":{
        "TypeName":{"shape":"InventoryItemTypeName"},
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidKeyId":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "InvalidNextToken":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "InvalidNotificationConfig":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidOutputFolder":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "InvalidParameters":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidPermissionType":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidPluginName":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "InvalidResourceId":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "InvalidResourceType":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "InvalidRole":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidSchedule":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidTarget":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidTypeNameException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "InventoryAttributeDataType":{
      "type":"string",
      "enum":[
        "string",
        "number"
      ]
    },
    "InventoryFilter":{
      "type":"structure",
      "required":[
        "Key",
        "Values"
      ],
      "members":{
        "Key":{"shape":"InventoryFilterKey"},
        "Values":{"shape":"InventoryFilterValueList"},
        "Type":{"shape":"InventoryQueryOperatorType"}
      }
    },
    "InventoryFilterKey":{
      "type":"string",
      "max":200,
      "min":1
    },
    "InventoryFilterList":{
      "type":"list",
      "member":{
        "shape":"InventoryFilter",
        "locationName":"InventoryFilter"
      },
      "max":5,
      "min":1
    },
    "InventoryFilterValue":{"type":"string"},
    "InventoryFilterValueList":{
      "type":"list",
      "member":{
        "shape":"InventoryFilterValue",
        "locationName":"FilterValue"
      },
      "max":1,
      "min":1
    },
    "InventoryItem":{
      "type":"structure",
      "required":[
        "TypeName",
        "SchemaVersion",
        "CaptureTime"
      ],
      "members":{
        "TypeName":{"shape":"InventoryItemTypeName"},
        "SchemaVersion":{"shape":"InventoryItemSchemaVersion"},
        "CaptureTime":{"shape":"InventoryItemCaptureTime"},
        "ContentHash":{"shape":"InventoryItemContentHash"},
        "Content":{"shape":"InventoryItemEntryList"}
      }
    },
    "InventoryItemAttribute":{
      "type":"structure",
      "required":[
        "Name",
        "DataType"
      ],
      "members":{
        "Name":{"shape":"InventoryItemAttributeName"},
        "DataType":{"shape":"InventoryAttributeDataType"}
      }
    },
    "InventoryItemAttributeList":{
      "type":"list",
      "member":{
        "shape":"InventoryItemAttribute",
        "locationName":"Attribute"
      },
      "max":50,
      "min":1
    },
    "InventoryItemAttributeName":{"type":"string"},
    "InventoryItemCaptureTime":{
      "type":"string",
      "pattern":"^(20)[0-9][0-9]-(0[1-9]|1[012])-([12][0-9]|3[01]|0[1-9])(T)(2[0-3]|[0-1][0-9])(:[0-5][0-9])(:[0-5][0-9])(Z)$"
    },
    "InventoryItemContentHash":{
      "type":"string",
      "max":256
    },
    "InventoryItemEntry":{
      "type":"map",
      "key":{"shape":"AttributeName"},
      "value":{"shape":"AttributeValue"},
      "max":50,
      "min":0
    },
    "InventoryItemEntryList":{
      "type":"list",
      "member":{"shape":"InventoryItemEntry"},
      "max":1000,
      "min":0
    },
    "InventoryItemList":{
      "type":"list",
      "member":{
        "shape":"InventoryItem",
        "locationName":"Item"
      },
      "max":30,
      "min":1
    },
    "InventoryItemSchema":{
      "type":"structure",
      "required":[
        "TypeName",
        "Attributes"
      ],
      "members":{
        "TypeName":{"shape":"InventoryItemTypeName"},
        "Version":{"shape":"InventoryItemSchemaVersion"},
        "Attributes":{"shape":"InventoryItemAttributeList"}
      }
    },
    "InventoryItemSchemaResultList":{
      "type":"list",
      "member":{"shape":"InventoryItemSchema"}
    },
    "InventoryItemSchemaVersion":{
      "type":"string",
      "pattern":"^([0-9]{1,6})(\\.[0-9]{1,6})$"
    },
    "InventoryItemTypeName":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"^(AWS|CUSTOM):.*$"
    },
    "InventoryQueryOperatorType":{
      "type":"string",
      "enum":[
        "Equal",
        "NotEqual",
        "BeginWith",
        "LessThan",
        "GreaterThan"
      ]
    },
    "InventoryResultItemList":{
      "type":"list",
      "member":{
        "shape":"InventoryItem",
        "locationName":"Item"
      }
    },
    "InvocationTraceOutput":{
      "type":"string",
      "max":65536
    },
    "ItemContentMismatchException":{
      "type":"structure",
      "members":{
        "TypeName":{"shape":"InventoryItemTypeName"},
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "ItemSizeLimitExceededException":{
      "type":"structure",
      "members":{
        "TypeName":{"shape":"InventoryItemTypeName"},
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "KeyList":{
      "type":"list",
      "member":{"shape":"TagKey"}
    },
    "KeyName":{"type":"string"},
    "ListAssociationsRequest":{
      "type":"structure",
      "required":["AssociationFilterList"],
      "members":{
        "AssociationFilterList":{"shape":"AssociationFilterList"},
        "MaxResults":{
          "shape":"MaxResults",
          "box":true
        },
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListAssociationsResult":{
      "type":"structure",
      "members":{
        "Associations":{"shape":"AssociationList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListCommandInvocationsRequest":{
      "type":"structure",
      "members":{
        "CommandId":{"shape":"CommandId"},
        "InstanceId":{"shape":"InstanceId"},
        "MaxResults":{
          "shape":"CommandMaxResults",
          "box":true
        },
        "NextToken":{"shape":"NextToken"},
        "Filters":{"shape":"CommandFilterList"},
        "Details":{"shape":"Boolean"}
      }
    },
    "ListCommandInvocationsResult":{
      "type":"structure",
      "members":{
        "CommandInvocations":{"shape":"CommandInvocationList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListCommandsRequest":{
      "type":"structure",
      "members":{
        "CommandId":{"shape":"CommandId"},
        "InstanceId":{"shape":"InstanceId"},
        "MaxResults":{
          "shape":"CommandMaxResults",
          "box":true
        },
        "NextToken":{"shape":"NextToken"},
        "Filters":{"shape":"CommandFilterList"}
      }
    },
    "ListCommandsResult":{
      "type":"structure",
      "members":{
        "Commands":{"shape":"CommandList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListDocumentVersionsRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"DocumentName"},
        "MaxResults":{
          "shape":"MaxResults",
          "box":true
        },
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListDocumentVersionsResult":{
      "type":"structure",
      "members":{
        "DocumentVersions":{"shape":"DocumentVersionList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListDocumentsRequest":{
      "type":"structure",
      "members":{
        "DocumentFilterList":{"shape":"DocumentFilterList"},
        "MaxResults":{
          "shape":"MaxResults",
          "box":true
        },
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListDocumentsResult":{
      "type":"structure",
      "members":{
        "DocumentIdentifiers":{"shape":"DocumentIdentifierList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListInstanceAssociationsRequest":{
      "type":"structure",
      "required":["InstanceId"],
      "members":{
        "InstanceId":{"shape":"InstanceId"},
        "MaxResults":{
          "shape":"MaxResults",
          "box":true
        },
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListInstanceAssociationsResult":{
      "type":"structure",
      "members":{
        "Associations":{"shape":"InstanceAssociationSummaryList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListInventoryEntriesRequest":{
      "type":"structure",
      "required":[
        "InstanceId",
        "TypeName"
      ],
      "members":{
        "InstanceId":{"shape":"InstanceId"},
        "TypeName":{"shape":"InventoryItemTypeName"},
        "Filters":{"shape":"InventoryFilterList"},
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{
          "shape":"MaxResults",
          "box":true
        }
      }
    },
    "ListInventoryEntriesResult":{
      "type":"structure",
      "members":{
        "TypeName":{"shape":"InventoryItemTypeName"},
        "InstanceId":{"shape":"InstanceId"},
        "SchemaVersion":{"shape":"InventoryItemSchemaVersion"},
        "CaptureTime":{"shape":"InventoryItemCaptureTime"},
        "Entries":{"shape":"InventoryItemEntryList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListTagsForResourceRequest":{
      "type":"structure",
      "required":[
        "ResourceType",
        "ResourceId"
      ],
      "members":{
        "ResourceType":{"shape":"ResourceTypeForTagging"},
        "ResourceId":{"shape":"ResourceId"}
      }
    },
    "ListTagsForResourceResult":{
      "type":"structure",
      "members":{
        "TagList":{"shape":"TagList"}
      }
    },
    "MachineFingerprintDoesNotMatch":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "exception":true
    },
    "ManagedInstanceId":{
      "type":"string",
      "pattern":"^mi-[0-9a-f]{17}$"
    },
    "MaxDocumentSizeExceeded":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "exception":true
    },
    "MaxResults":{
      "type":"integer",
      "max":50,
      "min":1
    },
    "MaxResultsEC2Compatible":{
      "type":"integer",
      "max":50,
      "min":5
    },
    "ModifyByUser":{"type":"string"},
    "ModifyDate":{"type":"timestamp"},
    "ModifyDocumentPermissionRequest":{
      "type":"structure",
      "required":[
        "Name",
        "PermissionType"
      ],
      "members":{
        "Name":{"shape":"DocumentName"},
        "PermissionType":{"shape":"DocumentPermissionType"},
        "AccountIdsToAdd":{"shape":"AccountIdList"},
        "AccountIdsToRemove":{"shape":"AccountIdList"}
      }
    },
    "ModifyDocumentPermissionResponse":{
      "type":"structure",
      "members":{
      }
    },
    "NextToken":{"type":"string"},
    "NormalStringMap":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"String"}
    },
    "NotificationArn":{"type":"string"},
    "NotificationConfig":{
      "type":"structure",
      "members":{
        "NotificationArn":{"shape":"NotificationArn"},
        "NotificationEvents":{"shape":"NotificationEventList"},
        "NotificationType":{"shape":"NotificationType"}
      }
    },
    "NotificationEvent":{
      "type":"string",
      "enum":[
        "All",
        "InProgress",
        "Success",
        "TimedOut",
        "Cancelled",
        "Failed"
      ]
    },
    "NotificationEventList":{
      "type":"list",
      "member":{"shape":"NotificationEvent"}
    },
    "NotificationType":{
      "type":"string",
      "enum":[
        "Command",
        "Invocation"
      ]
    },
    "ParameterAlreadyExists":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "ParameterLimitExceeded":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "ParameterName":{
      "type":"string",
      "max":255,
      "min":1
    },
    "ParameterNotFound":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "ParameterValue":{
      "type":"string",
      "max":65535,
      "min":1
    },
    "ParameterValueList":{
      "type":"list",
      "member":{"shape":"ParameterValue"}
    },
    "Parameters":{
      "type":"map",
      "key":{"shape":"ParameterName"},
      "value":{"shape":"ParameterValueList"}
    },
    "PingStatus":{
      "type":"string",
      "enum":[
        "Online",
        "ConnectionLost",
        "Inactive"
      ]
    },
    "PlatformName":{"type":"string"},
    "PlatformType":{
      "type":"string",
      "enum":[
        "Windows",
        "Linux"
      ]
    },
    "PlatformTypeList":{
      "type":"list",
      "member":{
        "shape":"PlatformType",
        "locationName":"PlatformType"
      }
    },
    "PlatformVersion":{"type":"string"},
    "PublicKey":{
      "type":"string",
      "max":392,
      "min":392
    },
    "PublicKeyType":{
      "type":"string",
      "enum":["Rsa"]
    },
    "PutInventoryRequest":{
      "type":"structure",
      "required":[
        "InstanceId",
        "Items"
      ],
      "members":{
        "InstanceId":{"shape":"InstanceId"},
        "Items":{"shape":"InventoryItemList"}
      }
    },
    "PutInventoryResult":{
      "type":"structure",
      "members":{
      }
    },
    "PutParameterRequest":{
      "type":"structure",
      "required":[
        "Name",
        "Value",
        "Type"
      ],
      "members":{
        "Name":{"shape":"DataDictionaryParameterName"},
        "Description":{"shape":"DataDictionaryParameterDescription"},
        "Value":{"shape":"DataDictionaryParameterValue"},
        "Type":{"shape":"DataDictionaryParameterType"},
        "KeyId":{"shape":"DataDictionaryParameterKeyId"}
      }
    },
    "PutParameterResult":{
      "type":"structure",
      "members":{
      }
    },
    "RegisterManagedInstanceRequest":{
      "type":"structure",
      "required":[
        "ActivationId",
        "ActivationCode",
        "PublicKey",
        "Fingerprint"
      ],
      "members":{
        "ActivationId":{"shape":"ActivationId"},
        "ActivationCode":{"shape":"ActivationCode"},
        "PublicKey":{"shape":"PublicKey"},
        "PublicKeyType":{"shape":"PublicKeyType"},
        "Fingerprint":{"shape":"Fingerprint"}
      }
    },
    "RegisterManagedInstanceResult":{
      "type":"structure",
      "members":{
        "InstanceId":{"shape":"InstanceId"}
      }
    },
    "RegistrationLimit":{
      "type":"integer",
      "max":1000,
      "min":1
    },
    "RegistrationLimitExceeded":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "exception":true
    },
    "RegistrationsCount":{
      "type":"integer",
      "max":1000,
      "min":1
    },
    "RemoveTagsFromResourceRequest":{
      "type":"structure",
      "required":[
        "ResourceType",
        "ResourceId",
        "TagKeys"
      ],
      "members":{
        "ResourceType":{"shape":"ResourceTypeForTagging"},
        "ResourceId":{"shape":"ResourceId"},
        "TagKeys":{"shape":"KeyList"}
      }
    },
    "RemoveTagsFromResourceResult":{
      "type":"structure",
      "members":{
      }
    },
    "RequestManagedInstanceRoleTokenRequest":{
      "type":"structure",
      "required":["Fingerprint"],
      "members":{
        "Fingerprint":{"shape":"Fingerprint"}
      }
    },
    "RequestManagedInstanceRoleTokenResult":{
      "type":"structure",
      "members":{
        "AccessKeyId":{"shape":"AccessKeyId"},
        "SecretAccessKey":{"shape":"SecretAccessKey"},
        "SessionToken":{"shape":"SessionToken"},
        "TokenExpirationDate":{"shape":"TokenExpirationDate"},
        "UpdateKeyPair":{"shape":"UpdateKeyPair"}
      }
    },
    "ResourceId":{
      "type":"string",
      "pattern":"^mi-[0-9a-f]{17}$"
    },
    "ResourceType":{
      "type":"string",
      "enum":[
        "ManagedInstance",
        "Document",
        "EC2Instance"
      ]
    },
    "ResourceTypeForTagging":{
      "type":"string",
      "enum":[
        "ManagedInstance",
        "Document"
      ]
    },
    "ResponseCode":{"type":"integer"},
    "S3BucketName":{
      "type":"string",
      "max":63,
      "min":3
    },
    "S3KeyPrefix":{
      "type":"string",
      "max":1024
    },
    "S3OutputLocation":{
      "type":"structure",
      "members":{
        "OutputS3Region":{"shape":"S3Region"},
        "OutputS3BucketName":{"shape":"AgentOutputPrefixS3BucketName"},
        "OutputS3KeyPrefix":{"shape":"AgentOutputS3KeyPrefix"}
      }
    },
    "S3Region":{
      "type":"string",
      "max":20,
      "min":3
    },
    "ScheduleExpression":{
      "type":"string",
      "max":256,
      "min":1
    },
    "SecretAccessKey":{"type":"string"},
    "SendCommandRequest":{
      "type":"structure",
      "required":["DocumentName"],
      "members":{
        "InstanceIds":{"shape":"InstanceIdList"},
        "Targets":{"shape":"Targets"},
        "DocumentName":{"shape":"DocumentARN"},
        "DocumentHash":{"shape":"DocumentHash"},
        "DocumentHashType":{"shape":"DocumentHashType"},
        "TimeoutSeconds":{
          "shape":"TimeoutSeconds",
          "box":true
        },
        "Comment":{"shape":"Comment"},
        "Parameters":{"shape":"Parameters"},
        "OutputS3Region":{"shape":"S3Region"},
        "OutputS3BucketName":{"shape":"S3BucketName"},
        "OutputS3KeyPrefix":{"shape":"S3KeyPrefix"},
        "MaxConcurrency":{"shape":"VelocityConstraint"},
        "MaxErrors":{"shape":"VelocityConstraint"},
        "ServiceRoleArn":{"shape":"ServiceRole"},
        "NotificationConfig":{"shape":"NotificationConfig"}
      }
    },
    "SendCommandResult":{
      "type":"structure",
      "members":{
        "Command":{"shape":"Command"}
      }
    },
    "ServiceRole":{"type":"string"},
    "SessionToken":{"type":"string"},
    "StandardErrorContent":{
      "type":"string",
      "max":8000
    },
    "StandardOutputContent":{
      "type":"string",
      "max":24000
    },
    "StartAutomationExecutionRequest":{
      "type":"structure",
      "required":["DocumentName"],
      "members":{
        "DocumentName":{"shape":"DocumentName"},
        "DocumentVersion":{
          "shape":"DocumentVersion",
          "box":true
        },
        "Inputs":{"shape":"AutomationParameterMap"}
      }
    },
    "StartAutomationExecutionResult":{
      "type":"structure",
      "members":{
        "AutomationExecutionId":{"shape":"AutomationExecutionId"}
      }
    },
    "StatusAdditionalInfo":{
      "type":"string",
      "max":1024
    },
    "StatusDetails":{
      "type":"string",
      "max":100,
      "min":0
    },
    "StatusMessage":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "StatusUnchanged":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "StepExecution":{
      "type":"structure",
      "members":{
        "StepName":{"shape":"String"},
        "StepStatus":{"shape":"AutomationExecutionStatus"},
        "ResponseCode":{"shape":"String"},
        "Inputs":{"shape":"NormalStringMap"},
        "Outputs":{"shape":"AutomationParameterMap"},
        "Response":{"shape":"String"},
        "FailureMessage":{"shape":"String"}
      }
    },
    "StepExecutionList":{
      "type":"list",
      "member":{"shape":"StepExecution"},
      "max":100,
      "min":0
    },
    "StopAutomationExecutionRequest":{
      "type":"structure",
      "required":["AutomationExecutionId"],
      "members":{
        "AutomationExecutionId":{"shape":"AutomationExecutionId"}
      }
    },
    "StopAutomationExecutionResult":{
      "type":"structure",
      "members":{
      }
    },
    "String":{"type":"string"},
    "StringDateTime":{
      "type":"string",
      "pattern":"^([\\+-]?\\d{4}(?!\\d{2}\\b))((-?)((0[1-9]|1[0-2])(\\3([12]\\d|0[1-9]|3[01]))?|W([0-4]\\d|5[0-2])(-?[1-7])?|(00[1-9]|0[1-9]\\d|[12]\\d{2}|3([0-5]\\d|6[1-6])))([T\\s]((([01]\\d|2[0-3])((:?)[0-5]\\d)?|24\\:?00)([\\.,]\\d+(?!:))?)?(\\17[0-5]\\d([\\.,]\\d+)?)?([zZ]|([\\+-])([01]\\d|2[0-3]):?([0-5]\\d)?)?)?)?$"
    },
    "StringList":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "Tag":{
      "type":"structure",
      "required":[
        "Key",
        "Value"
      ],
      "members":{
        "Key":{"shape":"TagKey"},
        "Value":{"shape":"TagValue"}
      }
    },
    "TagKey":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"^(?!^(?i)aws:)(?=^[\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*$).*$"
    },
    "TagList":{
      "type":"list",
      "member":{"shape":"Tag"}
    },
    "TagValue":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
    },
    "Target":{
      "type":"structure",
      "members":{
        "Key":{"shape":"TargetKey"},
        "Values":{"shape":"TargetValues"}
      }
    },
    "TargetCount":{"type":"integer"},
    "TargetKey":{
[...]
